/*顶部商品导航菜单*/
header .popBox{
    background: #ffffff;
    top: 60px;
    display: none;
    z-index: 999;
}

/*实体店列表*/
.listmore_shop > li{
    position: relative;
}
.listmore_shop > li ul,
.listmore_shop .s_down{
    display: none;
}
.listmore_shop .open ul,
.listmore_shop .open .s_down{
    display: block;
}
.listmore_shop > li:after{
    content: '+';
    color: #808080;
    position: absolute;
    right: 30px;
    top: 8px;
}
.listmore_shop > .open:after{
    content: '-';
    right: 33px;
}

/*实体店详情*/
.shitiInfos{
    display: none;
}

/* Carousel */
.js-slider{overflow:hidden;position:relative}
.js-slider-img-wrap{overflow:hidden}
.js-slider-h .js-slider-img{float:left}
.js-slider-num-wrap{position:absolute;bottom:5px;right:5px;z-index:99}
.js-slider-num{float:left}.js-slider-num-cur{color:#ff0000}
.slider-pic img{width:100%;height:auto;}
.slider-num li{margin-left: 4px;width: 12px;height: 12px;border-radius: 6px;text-indent: -9999px;background-color: #3c1809;}
.slider-num .js-slider-num-cur{background-color:#f00;}
/* Carousel */