$fontYaHei:"Microsoft Yahei" !default;
$baseFontFamily:  $fontYaHei !default; 
$red : #b81c2b !default;
$red_01:#d00000;
@import 'D:\sassData\sassCore\base';
em,i{ font-style: normal;}
a,a:link{
    color:$black;
    &:hover{
        color:$black;
    }

}
input,textarea,button{resize:none; /* -webkit-appearance:none;  */-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
@mixin ovh($value : hidden){
  overflow: $value;
}
@mixin width($value : auto){
  width:$value;
}
@mixin height($extend:true, $value : auto, $lvaue:auto){
    @if($extend){
        height:$value;
    }@else{
        height:$value;
        line-height: $lvaue;
    }
  
}
@mixin position($value){
    @if($value == 0){
        position:relative;
    }@else if($value == 1){
        position: absolute;
    }@else if($value == 2){
        position: fixed;
    }@else if($value == 3){
        position: static;
    }
  
}
@mixin borders($size:1px, $style:solid, $colors:#dddddd){
  border:$size $style $colors;  
}
$white:#ffffff;
$gray :#bcbcbc;
$c6:#666666;
$cd:#dddddd;
$cc:#cccccc;
$c98:#989898;
.fl{
  @include float;
}
.fr{
  @include float(right);
}
.f12{
  font-size: 0.75em;
}
.f14{
  font-size: 0.875em;
}
.f16{
  font-size: 1em;
}
.f18{
  font-size: 1.125em;
}
.f20{
  font-size: 1.25em;
}
.f25{
 font-size: 1.5625em;
}
.f30{
  font-size:1.875em;
}
.f15{
  font-size: 1.5em;
}
.tac{text-align:center;}
.tar{text-align:right}
.tal{text-align:left;}
.red{
  color:$red;
}
.w960{max-width:960px ; margin:auto;}
.fixclear{clear:both; font-size:0; line-height: 0; }
.iconsBg{
    /* background: url(../images/mobileBg.png) no-repeat; */
    background: url(../images/allIcn.png) no-repeat;
    @include inline-block(false);
    vertical-align: middle;
    /* @include prefixer(background-size, 150px auto, webkit o moz); */
}
#header{
    background: $red;
    @include ovh(hidden);
    @include width(100%);
    padding:15px 0 10px;
}
.topNav{
      @include ovh(hidden);
      li{
      &.item1{
        @include float(left);
          @include width(60%);
          padding:0 0 0 4%;
          @at-root.logoImg{
            background:url(../images/logo.png) no-repeat left center;
            display: block;
            @include height(true,45px);
            /*  @include prefixer(background-size, 180px 30px , webkit o moz); */
           /*  @include min-screen(720px){
               @include prefixer(background-size,  contain , webkit o moz);
            } */
          }
        }
&.item2{
          @include width(36%);
          max-width: 200px;
          @include height(true,54px);
          @include float(right);
          text-align: right;
                a{
                    @include inline-block(false);
                    letter-space:-6px;
                    @include height(true,54px);
                    padding:2px 0 0;
                    vertical-align: middle;
                    @extend .tac;
                    .icn_top{
                       @extend .iconsBg;
                      /*  @include prefixer(background-size,48px auto, webkit o moz); */
                    }
                    &.goods{
                        @include width(30%);
                        .icn_top{
                            background-position: 2px -642px;
                            @include width(34px);
                            @include height(true,29px);
                        }
                    }
                    &.shoptCart{
                         /* margin-right:2%;   */
                          @include width(36%);
                        .icn_top{
                            background-position:2px -681px;
                            @include width(34px);
                            @include height(true,29px);
                        }

                    }
                    &.orders{
                        @include width(26%);
                     .icn_top{
                        background-position:2px -721px;
                        @include width(26px);
                        @include height(true,29px);
                     } 
                    }
                     .txt{padding:2px 0 0;color:$white;  @extend .f18; display:block;}
                }
        }
      
      } 
    } 

/* top Nav Bar style */
.navBar { @include height(true,50px); padding: 0 20px; background: #e6e6e6; @extend .tac;}
.navBar .backGo{
  float: left;font-size:2.2em; text-indent:-999px; 
  font-family: $fontCn; color:#313131; @include width(8%);
   @include height(true,30px); text-align:left;
   @extend .iconsBg;
   background-position: 2px -334px;
   background-size: 37px auto;
   @include position(0);
   top:20%;
}
.home{
  @include width(32px); 
  @include height(true,31px);
   @extend .iconsBg; 
   float: right; 
   background-position:2px -310px; 
   margin-top:9px; display: inline;
    background-size: 38px auto;
}
.navBar .txt{ @include height(false,auto,50px); color:#363636; @extend .f25; @extend .tac;}

/* product style */
#myOrderList,#proWapper{
   min-height: 300px;
}
#proWapper{
    padding:20px 0 0;
   @extend .w960;
}
.proList{
    @include ovh(hidden);
    li{
        @include float(left);
        @include width(25%);
        padding:0 7px;
        margin-bottom: 20px;
        display: inline;
        @include prefixer(box-sizing, border-box, o webkit moz);
        p{
          @include height(false,40px,20px);
        }
        .proImg{
           display:block;
           @include ovh(hidden);
            @include borders;
            img{width:100%;}
        }
        .proName{
            padding-top: 5px;
            color:#000000;
            em{color:$red;}
            @include ovh(hidden);
            a{
              display: block;
            }
        }
    }
}
/*! pages */
.pagesOn{
    padding:20px 0;
     @include height(true,40px);
    @extend .tac;
    a.pageUp{
        @include inline-block(false);
        @include width(21%);
        @include prefixer(border-radius, $smallRadius, o webkit moz);
        @extend .tac;
        @include height(false,30px,30px);
        max-width: 85px;
        background: $red; 
        color:$white;
        @at-root a.pageUp{
            margin-right:20px;
        }
        &:hover{
          background:$red;
        }
        &.disabPage{
          background:$cd;
        }
    }
    a.pageNext{
      @extend .pageUp;
    }
}
/*! footer style  */
#footer{
   .footerNav{
    border-top:#d3d3d3 solid 1px; 
    border-bottom:#d3d3d3 solid 1px; /* margin-top:30px; */ 
    padding:15px 20px; 
    @include height(true,32px, auto);
    .footerNavList li{
        @include float(left);
        @include ovh(hidden);
        @include height(false,auto,32px);
        padding:0 10px 0 5px;
        a{
            font-size:1.1em;
            color:#01488a;
        }
        &.backTop{
            @include float(right);
            .buttonGray{
             @include height(false, 32px, 30px);
             padding:0 15px;
            }
        }
         &.lastHome{
           @include float(right);
           padding:0;
           .home{
            float:none;
            display:inline-block;
            margin:0;
            background-size: 37px auto;
            background-position: 2px -304px;
           }
        }
    }
   }
   .footerTxt{
    text-align:center; 
    line-height: 30px;
    color:$c6; padding:5% 0;
    a{
      font-size: 1.1em;
    }
  }
}

/* ! button style all */
.btn{
    @include prefixer(border-radius, 4px, o webkit moz);
    @include height(true,auto,35px); 
     border:none; 
     font-family:$fontYaHei;
}
.buttonGray{
    @extend .btn;
    background: #d3d3d3; color:#3c3c3c; 
   }
.buttonRed{
     @extend .btn;
     background:$red; color:$white; 
}
.buttonYellow{
     @extend .btn;
    background:#ff6c00; 
    color:$white;
    @include inline-block(false);
}
.buttonGray_01{
  font-family:$fontYaHei;
  background: #7e7e7e;
  color:$white;
  display:inline-block;
  border:none;
}
.buttonGreen{
  @extend .buttonGray_01;
   background:#009c07;
}

/* ---- end ---- */
/* ! for all Input styles */
.inputCommon{
    border:1px solid #cd;
    background: $white;
     @include height(false,40px,40px); 
    box-shadow:none;
}
/* !for comments style All */
#comments{
    padding:15px 10px 0;
}
.commontsTitles{display: block;padding:0 0 15px; @include position(0); @extend .f18; line-height: 30px;}
.commontsTitles .ec1{ @include position(1); top:5%;right:5%;@extend .f20;}
.commentsList{
    li{
        border-top: 1px solid $cd;
        padding:15px 0 ;
        p{
            &.userName{
                padding:0 0 3px;
                 @include height(false,auto,22px); 
                em{
                    @include inline-block(false);
                    &.names{
                        padding:0 15px 0 0;
                    }
                }
            }
        &.times{color:$grayDark; padding:4px 0 0;}
        }
    }
}

/* !comments star */
.comXin{
    @include width(56px);
    @include height(true,10px);
    vertical-align: middle;
    background:url(../images/xinxin.png) no-repeat;
    &.xin_1{background-position:0 -61px;}
    &.xin_2{background-position:0 -47px;}
    &.xin_3{background-position:0 -31px;}
    &.xin_4{background-position:0 -17px;}
   @include position(0);
    top:-2px;
}

/* ! for login  style*/
/* .loginLogo{
    .logoImg{
        @include center-block(false);
        background-position: center center;
    }
} */
#loginWapper{padding:20px 10px 0; max-width:600px; margin:auto;}
.loginGo{
    li{
        margin-bottom: 17px;
        /* @include height(true,42px); */
        @include position(0);
        text-align:center;
        .inputCommon{
            @include width(98%); 
          padding:0 28px 0 30px;
          @include prefixer(box-sizing, border-box, webkit moz o);
          &.regInp{
            padding:0 0 0 10px;
            width:100%;
          }
       }
     .inpIcons{
       @extend .iconsBg;
       @include width(25px);  
       @include height(true,32px); 
       background-position:0 -49px;
       background-size:40px auto;
       @include position(1);
       left:10px; top:5px;
     }
     .inpPwd{
      @extend .iconsBg;
       @include width(21px);  
       @include height(true,26px); 
       background-position:0 -133px;
       background-size:38px auto;
       @include position(1);
       left:10px; top:8px;
     }
     .updown{
      @include prefixer(transform, rotate(90deg), ms o moz webkit);
        @include position(1);
        right:15px; top:5px;
        color:$cc;
        font-size:1.4em;
     }
     .buttonRed{
        display: inline-block;
        @include width(99%);
        @include height(true,40px);
        @extend .f20;
     }
     &.last{
        .lookpwd{
            @include float(left);
            padding: 0 0 0 15px;
        }
        .account{
            @include float(right);
        }
     }
     &.btns{margin:7px 0;}
     &.yesNo{margin-bottom: 12px;  @include height(false, 28px, 28px); }
     .verfiy{
        /* padding:0 0 0 10px; */
        padding:5px 0 0;
        font-size: 11px;
        display: block;
        &.verfiyIcn{
          position: absolute;
          top:5px;
          right:5px;
        }
        .icons{
           @extend .iconsBg;
            background-position: 0 -3px;
            @include prefixer(background-size, 27px auto, webkit o moz);
            width:20px;
            @include height(true,25px);
        }
     }
    }
     &.regGo{
        li{text-align: left;}
    }
}

/* for product  style */
.proInfoBox{
    padding:0 10px; 
    &.nopad{
      padding:0;
      max-width:100%;
    }  
}
.h3Title{
@include height(false,25px,25px);
         padding:2% 2% 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include ovh(hidden);
         @extend .f25;
         color:#0a0a0a;
        &.red{color:#e86464; padding:0 2%;}
    }
    .priceOne{
      padding: 0 0 0 2%;
        em{@extend .f25;color:$red; @include float(left);}
        i{ @include float(left); margin:10px 0 0 5px; } 
    }
    .priced{clear:both; text-decoration: line-through; line-height: 20px; padding: 0 0 0 2%;}
    .priceOne,.priced{color:$c98;}
.proOpt{
  li{
     @include ovh(hidden);
     color:$grayDark;
     padding: 2%;
     @include height(false,auto,26px);
    &.first{
       border-top:#cccccc solid 1px;
       border-bottom:#cccccc solid 1px;
       p{
        @include inline-block(false);
        /* @extend .f14; */
        em{color:$red;}
        &.one{width:29%;}
        &.two{width:29%;}
        &.last{padding:0;}
       }
    }
    .name,.ctent{
        @include float(left);
    }
    .name{
        width:22%;
        max-width: 63px;
    }
    .ctent{
        width:78%;
        a{
            @include inline-block(false);
            height: 25px;
            padding:0 5%;
            border:#cccccc solid 1px;
            margin:0 2% 2% 0;
            color:$black;
             &:hover,&.focus{
                border:#b81c2b solid 4px;
               @include height(false,19px,19px);
            }
            &.lastA{
                background:#dfdfdf;
                border:none;
                @include height(false,26px,26px);
            }
        }
    }
  }
}
.addGou{
    @include height(false,40px,40px);
    background: #e6e6e6;
    @extend .tac;
    padding:1%;
    margin-top:15px;
    em{
         font-size: 1.7em;
         color:#c00000;
         padding:0 10px 0 0;
    }
    .buttonYellow{
        @include height(false, 30px,28px);
        @include position(0);
        top:-3px;
    }
}
.kehuPh{
 @include height(false, 45px,45px); background:#e21111; /* padding:0 0 0 15%;  */color:$white; @extend .f16;text-align:center;
 a{
  color:$white;
  display: block;
 }
}
.imgContent{
    @include height(false, auto,25px);
    text-align:center;
      img{width:100%; max-width:100%;}
}
.qqAndW{
  border-top:#d3d3d3 solid 10px;
  @extend .tac;
  padding:5% 24%;
    .qq{
    @include inline-block(false);
    width:40%;
    .icons{
      @extend .iconsBg;
      width:46px;
      @include height(true, 54px);
      background-position:0 -289px;
      /* @include prefixer(background-size, 45px auto, webkit o moz); */
    }
    .txt{@include height(false, auto, 25px);}
  }
  .ww{
    @extend .qq;
    .icons{
      width:52px;
      height: 54px;
      background-position:0 -368px;
      /*  @include prefixer(background-size, 45px auto, webkit o moz); */
    }
    .txt{@include height(false, auto, 25px);}
  }
}
.banners{@extend .w960;}
.proInfoBox{
  @extend .banners;
}
/* banner scrollImgs */
     .scrollImg{
      @extend .w960;;
       @include height(true, 370px);
      @include ovh(hidden);
      @include position(0);
       &.scrollImg_shiti{
        @include height(true, 200px);
      }
      .imgListA{
        width:1200px;
        @include ovh(hidden);
        li{
          @include float(left);
          @extend .tac;
          @include width(960px);
          img{width:100%;max-width:960px;}
        }
      }
      .pointersGo{
        @include position(1);
        bottom: 15px;
        left:50%;
        a{
          @include inline-block(false);
          width:8px; @include height(true, 8px);
          background: #ffffff;
          @include prefixer(border-radius,30px, webkit o moz);
          &.focus{
            background: #b81b2c;
          }
        }
      }
     }

.proDetails{
  border-bottom:#ebebeb solid 1px;
  line-height: 40px;
  padding:0 2%;
  .dian{
    @include inline-block(false);
    width:5px; 
    @include height(true, 5px);
    margin:0 8px 3px 0;
    background: #797979;
    @include prefixer(border-radius, 50px, webkit o moz);
    vertical-align: middle;
  }
}
/*! for produtc index style*/
/* for index banner scrollImg */
@include max-screen(320px){
     .indexScroll{
      width:320px;
      @include height(true, 150px);
      @include ovh(hidden);
      @include position(0);
      .indImgListA{
        width:1200px;
        @include ovh(hidden);
        li{
          @include float(left);
          img{width:320px;}
        }
      }
      .indexPt{
        @include position(1);
        bottom: 5px;
        left:45%;
        a{
          @include inline-block(false);
          width:8px; @include height(true, 8px);
          background: #bababa;
          @include prefixer(border-radius,30px, webkit o moz);
          &.focus{
            background: #b81b2c;
          }
        }
      }
     }
    }

    .indexOrderList{
      border-bottom:#f4f4f4 solid 15px;
      @include ovh(hidden);
      li{
        @include float(left);
        border-right:#f4f4f4 solid 1px;
        border-bottom: #f4f4f4 solid 1px;
        width:33%;
        @extend .tac;
        padding:5% 0 3%;
        a{
          display: block;
        }
        @at-root .indImgIcn{
          background: url(../images/mobileBg_01.png)no-repeat;
          @include prefixer(background-size, 55px auto, webkit o moz);
          @include inline-block;
          @include height(true, 41px);
          &.ic_1{background-position: 0 -1px; width:42px}
          &.ic_2{background-position: 0 -79px; width:42px; @include prefixer(background-size, 46px auto, webkit o moz);}
          &.ic_3{background-position: 0 -182px; width:28px; @include prefixer(background-size,50px auto, webkit o moz);}
          &.ic_4{background-position: 6px -46px; width:43px; @include prefixer(background-size, 56px auto, webkit o moz);}
          &.ic_5{background-position: 0 -151px; width:56px}
          &.ic_6{background-position: 0 -245px; width:47px;}
        }
        .txt{
          line-height: 38px;
        }
      }
    }
    .in_jingkuang{
      @include height(false, auto, 40px);
      padding:20px 15px 20px ;
      @include position(0);
      a{
        @include position(1);
        right:5%;
        top:34%;
        font-family: $fontCn;
        font-weight: bold;
        @extend .f18;
      }
      em{
        @extend .f18;
      }
    }
      
.noteBtn{
  border:none;
  background: #b81c2a;
  line-height: 30px;
  color:$white;
  @extend .f14;
  font-weight: normal;
  padding:0 30px 0 5px;
  @include position(0); left:5px; bottom:2px;
  @include inline-block (false);
}
.noteBtn::after{
  content:"";
  @include position(1);
  right:-20px; top:0;
  width:30px;
  height: 30px;
  background:$white;
  @include prefixer(transform, rotate(45deg));
}

/* for product sort style */
.sortList{
  li{
    @include height(false, auto, 40px);
   /*  border-bottom:#d4d4d4 solid 1px; */
    &.lst{
      border-bottom:none;
    }
    .oneName{
     display: block;
     @include height(false, 40px, 40px);
     @include position(0);
     background: #f4f4f4;
     padding:0 5%;
     @extend .f18;
     border-bottom: #dddddd solid 1px;
     .downOrUP{
      @include position(1);
      right:8%;
      top:3%;
      color:$c6;
      @extend .f25;
     }
    }
    ul{display:none;}
    li{
      @include ovh(hidden);
       .oneName{background: $white; @extend .f18;}
       ul{
        padding:1% 5%;
       }
       li{
        @include float(left);
        width:50%;
        border:none;
        @extend .f16;
       }
    }

  }
}
.brandBox{
  padding:10px 0; 
}
.brandList{
  @include ovh(hidden);
  li{
    @include float(left);
    width:24%;
    height: 430px;
    margin:0 5px 20px;
    @include prefixer(box-sizing, border-box, webkit o moz);
    text-align:center;
    display:inline;
    background:$white;
    .brandImg{
      display: block;
      @include ovh(hidden);
      img{width: 100%; max-width: 100%;}
    }
    .brandName{
       display: block;
       padding:8%;
       @extend .f16;
       p{
        line-height: 25px;
        &.bdName{
        padding:15px 0 0;
        font-weight: bold;
       }
       &.dbTxt{
        /* height: auto; */
       }
        img{height:auto;}
       }
    }
  }
}

.groupBox{padding:10px 0 0;}
.groupPro{
  li{
    margin-bottom: 20px;
    .groupImg{
      padding:0 6%;
      width:640px;
      margin:auto;
      .imgs{
        display: block;
        @extend .tac;
        @include ovh(hidden);
       img{width:100%; max-width:100%;}
      }
      .gtexts{
        line-height: 20px;
        margin:5px 0 0;
      }
    }
    .groupPrice{
      background: $c6;
      @include height(false,35px,35px);
      color:$white;
      @extend .tac;
      margin:5px 0 0;
      @extend .f18;
      em{
        padding:0 20px;
      }
      i{
        text-decoration: line-through;
      }
      a{
        background:#f74c00;
        color:#ffffff;
        padding: 0 15px;
         @extend .fr;
        @include height(false,35px,35px);
        @extend .f20;
      }
    }
  }
}
.groupInfo{
  border-bottom:#c7c7c7 solid 1px;
  padding:0 10px;
  @extend .w960;
  li{
    @include ovh(hidden);
    margin-bottom: 20px;
    .imgFl{
      @extend .fl;
      @include borders;
      width:36%;
      max-width:200px;
      img{height:100%; width:100%; max-width:100%;}
    }
    .groupCont{
      width:60%;
      @extend .fl;
      padding: 0 0 0 2%;
      .grupTitle{font-weight:normal;}
      .gprice{color:$red; line-height: 28px;}
      .groupStl{
        a{
          @include inline-block;
          line-height: 20px;
          border:#b0b0b0 solid 1px;
          padding:0 10px;
          margin:0 5px 5px 0;
          &:hover{
            border:#c80000 solid 2px;
            line-height: 18px;
          }
        }
      }
    }
  }
}
.groupInfoBuy{
  @extend .tac;
  padding: 5% 0;
  @extend .f20;
  em{
    text-decoration: line-through;
  }
  .buttonRed{
    background: $red_01;
    padding:1% 5%;
    @extend .f18;
    margin: 15px 0 0;
    max-width: 240px;
  }
}

.selectMoreBox{width:600px;  margin:auto;}
.selectMore{padding:10px;}
.sctN{line-height: 40px; @extend .f20;}
.sctList{
  a{
    @include inline-block;
    background: #eeeeee;
    margin: 0 5px 8px 0;
    color:#3d3d3d;
    padding: 0 3%;
    line-height: 30px;
    &.focus{
      background:#b81c2a;
      color:$white;
    }
  }
}
.moreTaoC{
  @include ovh(hidden);
  ul{
    @include ovh(hidden);
    width:1200px;
    li{
      @extend .fl;
      width:40%;
      max-width: 184px;
      margin:0 8px 0 8px;
      display: inline;
      .mImg{
        @include borders;
        @include ovh(hidden);
        img{
          width:100%;
          max-width: 100%;
        }
      }
      .mpc{
        @extend .f18;
        color:$red;
        font-weight: bold;
        em{
          @extend .f12;
          color:#686868;
          font-weight: normal;
        }
      }
      .mTitle{
        line-height: 20px;
      }
      .lx{
        a{
          @include inline-block;
          background: #988574;
          color:$white;
          line-height: 18px;
          padding:0 2%;
          margin-right: 5px;
        }
      }
      .buyBtn{
        display:block;
        line-height: 25px;
        background:$red;
        color:$white;
        @extend .tac;
      }
    }
  }
  .num{
    /* @include position(1); */
    display: block;
    @include height(false,20px,20px);
    @extend .tac;
    padding:2% 0;
    em{
     @include inline-block;
     width:12px;
     height: 12px;
     background: #d3d3d3;
     @include prefixer(border-radius, 40px, webkit o moz);
     &.focus{
      background: #e03d34;
     }
    }
  }
}
/* shopingCar style */
.proCarList{
  &.proCarList_ord{
    li{
      padding:0 4% 2% ;
      border:none;
    }
  }
  /* &.allOrder{
    li{
      border-top:none;
      border-bottom: #f4f4f4 solid 10px;
      padding:5% 2%;
    }
  } */
  li{
    border-top:$cd solid 1px;
    &.nobd{border:none;}
    padding:4% 2% 5%;
    @include ovh(hidden);
   /*  @include prefixer(box-sizing, border-box, webkit o moz); */
    .radius{
      @extend .fl;
      width:10%;
      padding:6% 0 0;
      @extend .tac;
    }
    .carProImg{
      @extend .fl;
      width:30%;
      max-width:140px;
      max-height: 140px;
      @extend .tac;
      @include borders;
      img{
        width:100%;
        max-width: 100%;
      }
    }
    .carContent{
      @extend .fl;
      width:72%;
      padding:0 0 0 15px;
      &.orderCon{
        width:83%;
        .carProTitle{
           a{
          width:70%;
        }
          em{
            width:30%;
          }
        }
       
      }
      .carProTitle{
        @include ovh(hidden);
        display: block;
        text-align: justify;
       a{
        @extend .fl;
         width:80%;
         display: block;
       }
       .cpPrice{
        @extend .fr;
        width:20%;
        font-size: 0.75em;
        text-align:right;
       }
      }
      .sezhi{/* padding:3% 0; */ @extend .f12;}
    }
    @at-root.carBtnBox{
      clear: both;
      padding:3% 0 0 10%;
      a{
        @include inline-block; color:$white; padding:1% 2%; @extend .f16; background:#b81c2b;
        max-width: 120px; @extend .tac;
        margin-right: 2%;
        &.gntbg{background:#228811;}
        &:hover,&:link{
          color:$white;
        }
      }
    }
    &.focus{background:#efefef;}
  }
}
/* RADIO BUTTONS */
 .regular-radio {
  display: none;
}

.regular-radio + label {
  -webkit-appearance: none;
  background-color: $white;
  border: 1px solid #ababab;
  /* padding: 2px; */
  width:30px;
  height:30px;
  border-radius: 50px;
  @include inline-block;
  @include position(0);
  vertical-align: middle;
}

.regular-radio:checked + label:after {
  content: ' ';
  width: 30px;
  height: 30px;
  @include prefixer(border-radius,50px, webkit o moz);
  @include position(1);
  top: 3px;
  background-color: $red;
  border:none;
  left: 3px;
  font-size: 32px;
}

.regular-radio:checked + label {
  background-color: $white;
  color: #99a1a7;
 border: 1px solid $red;
}

.regular-radio + label:active, .regular-radio:checked + label:active {
}

/* .big-radio + label {
  padding: 10px;
} */

.big-radio:checked + label:after {
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  @extend .iconsBg;
  background-position:8px -1034px;
  /* background-position:3px -1218px; */
 /*  @include prefixer(background-size, 75px auto, webkit moz o); */
}
.yanguangdanBox{ 
  width:95%; margin: 13px 0;
  max-width: 600px;
  .buttonRed{
   @include prefixer(border-radius, 0, webkit o moz);
    width:100%;
    margin:1px 0 0;
    line-height: 36px;
  }
}
.yanguangdan{
  max-width: 600px;
  margin: auto;
  @include borders;
  @include position(0);
  background:$white;
  padding:10px;
  @include prefixer(box-sizing, border-sizing, webkit o moz);
  z-index:450;
  &.yanguangdan_noB{
    border:0;
  }
  .emjiao{
    @include position(1);
    top:-7px;
    left:25%;
    @include inline-block;
    width:12px; height:12px;
    @include prefixer(transform, rotate(45deg));
    border-left: $cd solid 1px;
    border-top: $cd solid 1px;
    background: $white;
  }
  .yanTime{
    color:$grayDark;
    @extend .f12;
    @include ovh(hidden);
    label{width:86px; @extend .fl; line-height: 25px;}
    span{width:70%; @extend .fl;
        .aa{
              @include inline-block;
              background: #dfdfdf;
              line-height: 25px;
              padding:0 2%; 
              color:#000000;
              margin:0 5px 0 0;
            }
    }
  }
  &.noYGDBox{
    .emjiao{
      left:48%;
    }
  }
}
.yanBox{
  &.yanBox_bdYes{@include borders; margin:10px 0 0; padding:0 0 10px;}
  table{
    width:100%;
    td{
      line-height: 30px;
      padding:0 0 0 10px;
    }
  }
}
.yesnobtn{
  @extend .tac;
  margin: 5% 0 0;
  button{
    line-height: 25px;
    padding:0 3%;
    border:none;
    max-width: 80px;
    @extend .f12;
    &.affirm{
      background:$red;
      color:$white;
    }
    &.cancel{
      background:none;
      color:#b3b3b3;
    }
  }
}
.carNote{
  @extend .tac; color:#b3b3b3; padding:3% 0; @extend .f18;
}
.clearing{
  border-top: $cd 1px solid;
  border-bottom: $cd 1px solid;
  background: #f4f4f4;
  padding:5% 2%;
  margin:0 0 5%;
  @include prefixer(box-sizing, border-box, webkit o moz);
  @include ovh(hidden);
  span{
    @extend .fr;
    @extend .f20;
    &.sp_01{
      width:25%;
      /* @extend .tac; */
      padding:2% 0 0 3%;
      @extend .fl;
    }
    &.sp_02{
      width:40%;
      padding: 0 2% 0 0;
      @extend .tar;
      p{
        display: block;
        color:$red;
        font-weight:bold;
      }
      span{display:block; float:none; @extend .f16;}
    }
    &.sp_03{
      width:30%;
      max-width: 160px;
      @extend .tar;
      .buttonRed{
        width:160px;
        line-height: 50px;
        &.disab{background: $grayDark;}
        @extend .f18;
      }
    }
  }
}
.userAdress{
  background: #e7e7e7;
  @include ovh(hidden);
  .userAdL{
    width:95%;
    padding:3% 0;
    @extend .fl;
    @include ovh(hidden);
    background: #f4f4f4;
    .adIcon{
    @extend .fl;
    width:25px;
    height: 33px;
    @extend .iconsBg;
    background-position:0 -87px;
    @include prefixer(background-size, 38px, webkit o moz);
    vertical-align: middle;
    margin:2% 3% 0 7%;
  }
  .adContent{
    @extend .fl;
    width:80%;
    .nameAndPhone{
      em{
        padding:0 25px 0 0;
      }
    }
    .adText{line-height: 20px; padding:1% 0 0;  }
  }
  }
  .adNext{
    @extend .fl;
    width:5%;
    padding:4% 0 0;
    @extend .tac;
    font-family: $fontCn;
    font-weight: bold;
    @extend .f25;
  }
}
.payWay{
  border:$cd solid 1px;
  padding:5% 6%;
   p{
      color:$c6;
    }
  .payBtn{
    padding:2% 0 0 5%;
   a{
     @include inline-block;
    color:#333333;
    background: #f2f1ef;
    @include borders;
    line-height: 30px; 
    @extend .tac;
    padding:0 3%;
    @at-root.mr5{margin-right:4%;}
    &:hover,&.focus{
      color:$white;
      background:$red;
       @include borders(1px, solid, $red);
    }
   }
  }
}
.titleName{
  color:$c6;
  @extend .f18;
  padding:3% 0 3% 5%;
}
.orderDl{
  border-top:$cd solid 1px;
  padding:4%;
  @at-root.lh40{
     line-height: 40px;
  }
  p{
    input[type="text"]{
      @include borders;
      width:90%;
      height: 30px;
      line-height: 30px;
      padding:0 0 0 2%;
      color:#989898;
    }
    em{
      color:#989898;
      @include inline-block;
    }
    a{
      @include inline-block;
      @include borders;
      background:#f2f1ef;
      padding:0 5%;
      line-height: 30px;
      margin-left: 2%;
      &:hover{
        background:#b81c2a;
        color:$white;
      }

    }
  }
}
.youhui{
@include borders;
@include ovh(hidden);
display:block;
.flIn{
  width:78%;
  input[type="text"]{
    width:94%;
    padding:0 0 0 2%;
    border:none; 
    background:$white;
    line-height: 30px;
  }
}
.frBtn{
  border-left:$cd solid 1px;
  width:20%;
  input[type="submit"]{
    background:none;
    border:0;
    line-height: 30px;
    color:#989898;
    width:100%;
  }
}
}
.orderD1Tb{
  td{
   /*  line-height: 30px; */
   @extend .f12;
   color:#989898;
    &.red{
      color:$red;
      padding:0 0 0 5px;
    }
  }
}
.leaveMess{
  background:#f4f4f4;
  @include prefixer(border-radius, 5px, webkit o moz);
  padding:2%;
   color:#989898;
  em{
    @include inline-block;
  }
  input[type="text"]{
    width:90%; line-height: 25px; border:0; background:none;
    color:#989898;
  }
}
.diyongj{
  @include ovh(hidden);
  padding:5% 0 1%;
 color:#989898;
}
.addBtnbox{
  padding: 5%  0 5% 15%;
  height: 200px;
  @at-root.buttonRed_add{
    border-radius:0;
    line-height: 40px;
    padding:0 5%;
  }
}
.addressli{
  li{
    border-top:#cccccc solid 1px;
    padding:5%;
    
    @include ovh(hidden);
    .label{
      @extend .fl;
      width:25%;
      max-width: 120px;
      line-height: 30px;
      @extend .tar;
      padding-right:10px;
    }
   .span{
      @extend .fl;
      width:70%;
      .inputCommon{
        width:100%;
        height: 28px; 
        line-height: 28px;
      }
      &.tars{
        @extend .tar;
        font-family: $fontCn;
       cursor:pointer;
       @extend .f20;
       font-weight: bold;
      }
      .buttonRed{
     @extend .buttonRed_add;
     @extend .tac;
      }
   }
  }
}
.cityList{
  li{
    border-top:#cccccc solid 1px;
    a{
      display: block;
      line-height: 50px;
       padding: 0 5%;
      &:hover{
        background:#cccccc;
      }
    }
    li{
        a{
          padding: 0 5% 0 10%;
        }
        li{
        a{
          padding: 0 5% 0 15%;
        }
      }
      }
  }
}
.succNote{
  border-bottom:#d3d3d3 solid 1px;
  padding:5% 8%;
  line-height: 24px;
}
.zhifuway{
  @extend .tac;
  padding:8% 8% 15%;
   max-width: 400px;
    margin: auto;
  .buttonYellow{
    margin:8% 0 0;
    line-height: 40px;
    padding:0 10%;
  }
  .phNote{
    @extend .tal;
    padding:6% 0 2%; 
    @extend .f18;
  }
  .sf{
    color:$grayDark;
    @extend .tal;
  }
}
.order_state{
  @include ovh(hidden);
  border-bottom:#cccccc solid 1px;
  padding:3% 2%;
  margin: 0 2% 3%;
  &.mrbn{margin-bottom:0;}
  .buttonGn,.buttonYw{@extend .f25; padding:1% 10%;}
  &.bdbN{
    border-bottom: none;
  }
  .fl{
    width:70%;
    .p_state{
      em{
        @extend .f20
      }
    }
  }
  .fr{
    width:30%;
    /* padding:3% 0 0; */
    height: 40px;
    @extend .tar;
    .buttonGray_01{
      padding:2% 10%;
      color:$white;
       @extend .f20
    }
  }
  .orderInfos{
    em.f1{
      padding:0 30px 0 0;
    }
  }
  .order_user{
    @extend .orderInfos;
    em{@extend .f18;}
  }
}
.moreP{
  line-height: 30px;
  color:$grayDark;
  @extend .tac;
  @extend .f1;
}

.allPrices{
  border-left:$red solid 1px;
  padding: 2% 4%;
  @include ovh(hidden);
  .fl{
    width:60%;
    em{color:$red;}
    @extend .f20;
  }
  .fr{
    width:40%;
    @extend .tar;
    @at-root.buttonYw{
      @extend .buttonYellow;
      @include prefixer(border-radius, 30px, webkit o moz);
      padding:2% 15%;
      @extend .f20;
    }
    @at-root.buttonGn{
      @extend .buttonYw;
       @extend .f20;
    }
   }
  }
.myAllOrder{
  border-bottom:#f4f4f4 solid 10px;
}

.stepBox{
  @include position(0);
  width:95%;
  margin: 8% auto;
  height:4px; 
  background: #cccccc;
  font-size: 0; 
  line-height: 0;
  em{
    @include position(1);
    top:-10px;
    background:#cccccc;
    @include prefixer(border-radius, 50px, webkit moz o);
    width:24px; height:24px;
    &.sp1{ left:-1%}
    &.sp2{left:48%;}
    &.sp3{left:98%;}
    &.focus{
      background: $red;
    }
  }
}
.feedback{
  padding:5% ;
  line-height: 22px;
}
.services{
  li{
    border-bottom:#d3d3d3 solid 1px;
    padding:10%;
    @include ovh(hidden);
    @extend .tac;
    &.last{
        border:0;
      }
    .labels{
      /* @extend .fl; */
      /* width:35%; */
      @include inline-block;
      @extend .tac;
      em{
        @extend .iconsBg;
        width:52px; height:52px;
        /* background-size: 55px auto; */
       &.icn1{
         background-position:3px -287px;
       }
       &.icn2{
         background-position: 0 -370px;
       }
       &.icn3{
         background-position: 0 -458px;
         width:59px;
       }
      }
    }
    .spans{
      /* @extend .fl; */
      @include inline-block;
      /* width:65%; */
      padding:0 0 0 2%;
      @include position(0);
      top:20px;
      @extend .tal;
      @extend .f25;
    }
  }
}
.zhiBox{margin-bottom:20px; @extend .shitiBox;}
.zhilist{
  li{
    border-bottom: #cccccc solid 1px;
    a{
      display: block;
      @include ovh(hidden);
      padding:2% 3% 2% 2%;
      line-height: 25px;
      .fr{font-family:$fontCn; font-weight:bold;}
    }
  }
}
.wenTitles{
  @extend .f20;
  padding:30px 0;
  @extend .tac;
}
.wenText{
  padding:0 5%;
  line-height: 25px;
   padding:0 0 5px;
   text-align: justify;
  p{
    text-indent: 24px;
    padding:0 0 20px;
  }
  img{
    max-width:80%;
    margin:10px 0;
  }
}
.wenpage{
  border-top: #cccccc solid 1px;
  padding:3% 5%;
  p{
    line-height: 30px;
    @include ovh(hidden);
    em{
      width:20%;
      max-width:58px;
    }
    a{
      max-width: 80%;
      @include ovh(hidden);
    white-space: nowrap;
    text-overflow: ellipsis;
    }
  }
}
.search{width:80%; margin:auto;}
.searchNote{
  padding:4% 0;
  em{color:$grayDark}
  line-height: 25px;
  &.padTwo{
    padding:15px 7px;
  }
}
.search{
  padding:5% 0 8%;
  text-align: center;
  label{
    @include inline-block;
    &.searchBtn{
      margin-left:14px;
      input[type="submit"]{
      @include height(false, 30px, 30px);
      @extend .tac;
      /* @extend .f14; */
      background:#b81c2b;
      @include prefixer(border-radius, 5px, webkit o moz);
      color:$white;
      border:none;
      padding:0 15px;
      }
    }
    &.searchInpt{
      width:71%;
      input[type="text"]{
        height: 28px;
        line-height: 28px;
        padding-left:2%;
        width:98%;
      }
    }
  }
}
.allgoodsst{
  @include ovh(hidden);
  padding:5% 0 5% 18%;
  margin:auto;
  border-top: #d3d3d3 solid 1px;
  li{
    @extend .fl;
    width:50%;
    line-height: 30px;
    &.first{
      width:100%;
      color:$c6;
    }
  }
}
.shitiAddress{padding:2%; width:960px; margin:auto; @include prefixer(box-sizing, border-box, webkit o moz);}
.shoppName{
  @include height(false, auto, 30px);
  padding:0 0 2%;
  @extend .f20;
}
.shoppadd{
  line-height: 25px;
}
.serviceList{
  border-top:$cd solid 1px;
  border-bottom:$cd solid 1px;
  padding:4% 0 0 12%;
  ul{
    @include ovh(hidden);
    width:640px; margin:auto;
    li{
      @extend .fl;
      width:50%; 
      margin-bottom: 8%; 
      .icn_label{
        @extend .fl;
        width:66px;
        /* max-width:66px;
        @include height(false, 33px, 33px); */
        @include height(false, 55px, 55px);
        @extend .iconsBg;
        background-color: $red;
        /* background:$red url(../images/mobileBg.png) no-repeat; */
        @include prefixer(border-radius, 5px, webkit o moz);
        /* background-size: 50px auto; */
        @extend .tac;
        margin:4px 0 0;
        vertical-align: middle;
        color:$white;
        &.icn_label1{ background-position:14px -785px}
        &.icn_label2{background-position:9px -850px;/* background-size: 45px auto; */}
        &.icn_label3{/* letter-spacing:-1px;  */@extend .f16;background-position:-99999px -99999px;}
        &.icn_label4{background-position:15px -922px /* background-size: 52px auto; */}
        /* @include screen(320px, 550px){
          &.icn_label1{ background-position:4px -615px;}
          &.icn_label2{background-position:7px -208px;}
          &.icn_label4{background-position:7px -240px;}
        } */
      }
      .con_span{
        @extend .fl;
        width:70%;
        padding:0 0 0 5px;
        color:$black;
        line-height: 32px;
        .txt{@extend .f18;}
        .txt_s{
          white-space:nowrap; 
          @extend .f12;
        }
      }
    }
  }
}
.updown_go{
  display:block;
  @extend .tac;
  padding:2%;
  em{
    color:#959595;
    @include prefixer(transform, rotate(90deg), ms o moz webkit);
    @include inline-block;
    margin:3% 0 0;
  }
}
.shitiInfos{
  padding:2%;
  img{width:100%;}
  /* @extend .tac; */
  .imgbox{
    background:#fcfcfc;
    padding:1%
  }
  /* img{
    margin-bottom: 10px;
  } */
}
.no-data{ @extend .tac; line-height: 100px;}
.otherName{
  border-top:$cd solid 1px;
  background:#f4f4f4;
  padding:5%;
   line-height: 25px;
  .pTitles{
    font-weight: bold;
    clear:both;
    color:#777777;
    &.pt10{
      padding-top:10px;
    }
  }
  ul{
    @include ovh(hidden);
    li{
      width:30%;
      @extend .fl;
      a{
         color:#777777;
      }
    }
    &.ul_all{
      li{
      width:20%;
      }
    }
  }
}
.shitiBox{min-height:500px;}
.listmore_shop{
  li{
    em{
      /* @include position(1);
      top:45%;
      right:10%; */
      color:#d3d3d3;
      @extend .fr;
      font-size: 1.8em;
    }
    a.cityName{
      @include position(0);
      display: block;
      @include height(false, 30px, 30px);
      background:#f4f4f4;
      padding:1% 5%;
      border-bottom:#dddddd solid 1px;
    }
    ul{
      background: $white;
      padding:1% 5%;
      @include ovh(hidden);
      li{
        @include height(false, 25px, 25px);
        @extend .fl;
        border-bottom:0;
        padding:0 3%;
      }
    }
  }
    /* for product sort style */
&.sortList{
  li{
    @include height(false, auto, 40px);
    .oneName{
     display: block;
     @include height(false, 40px, 40px);
     @include position(0);
     background: #f4f4f4;
     padding:0 5%;
     @extend .f18;
     border-bottom:#dddddd solid 1px;
    }
    ul{
      padding:0;
    }
    li{
      @include ovh(hidden);
      padding:0;
      float:none;
       .oneName{background: $white; @extend .f16;}
       ul{
        padding:0 5%;
        display: none;
       }
       li{
        @include float(left);
        width:50%;
        @extend .f14;
        a{
          border:none;
        }
       }
       &.open{
        ul{display:block;}
       }
    }
  }
}

}
.listmore_shop .no-data{display:none}
.listmore_shop .open .no-data{display:block}
.s_down{
  @include position(1);
  left:10%;
  bottom:-6px;
  @include inline-block;
  width:10px;
  height: 10px;
  background:#f4f4f4;
  border-right:$cd 1px solid;
  border-bottom:$cd 1px solid;
  @include prefixer(transform, rotate(45deg), ms o moz webkit);
  z-index:2;
}
.popBox{
  @include position(2);
  right:0; 
  top:30px;
  width:40%;
  max-width: 220px;
  border-left: #ababab solid 1px;
  border-bottom: #ababab solid 1px;
  @include ovh(hidden);
  ul{
    li{
      border-bottom: #d4d4d4 solid 1px;
      @extend .tac;
      line-height: 45px;
      a{
        display: block;
      }
    }
  }
}

/***************************** loading **********************************/
.loading {
  @include position(2);
  top: 0;
  left: 0;
  z-index: 400;
  color: $white;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  @extend .tac;
  @extend .f16;
  }

#fixedBox {
   @include position(1);
  left: 48%;
  top: 40%;
  width: 64px;
  height: 64px; }

.circular {
  background-color: #b81c2b;
  width: 15px;
  height: 15px;
  @extend .fl;
  @include prefixer(border-radius, 10px, webkit o moz);
  @include prefixer(animation-name, bounce_circular, webkit o moz);
   @include prefixer(animation-duration, 0.7s, webkit o moz);
  @include prefixer(animation-iteration-count, infinite, webkit o moz);
  @include prefixer(animation-direction, linear, webkit o moz);
   }

#circular_1 {
  margin-top: 25px;
@include prefixer(animation-delay, 0.1s, webkit o moz);
   }

#circular_2 {
  margin-left: -8px;
  margin-top: 9px;
@include prefixer(animation-delay, 0.2s, webkit o moz);
   }

#circular_3 {
  margin-top: 1px;
  @include prefixer(animation-delay, 0.3s, webkit o moz); 
}

#circular_4 {
  margin-left: 0;
  margin-top: 9px;
  @include prefixer(animation-delay, 0.4s, webkit o moz);
}

#circular_5 {
  margin-left: -8px;
  margin-top: 25px;
  @include prefixer(animation-delay, 0.5s, webkit o moz);
}

#circular_6 {
  margin-left: -22px;
  margin-top: 40px;
  @include prefixer(animation-delay, 0.6s, webkit o moz);
}

#circular_7 {
  margin-left: -37px;
  margin-top: 48px;
  @include prefixer(animation-delay, 0.7s, webkit o moz);
}

#circular_8 {
  margin-left: -53px;
  margin-top: 41px;
  @include prefixer(animation-delay, 0.8s, webkit o moz);
}

@-webkit-keyframes bounce_circular {
  0% {
    -webkit-transform: scale(0.8); }

  100% {
    -webkit-transform: scale(0.2); } }

    /*top goods list menu style*/
header .popBox{
    background: #ffffff;
    top: 79px;
    display: none;
    z-index: 999;
}

/*shiti list style*/
.listmore_shop > li{
    position: relative;
}
.listmore_shop > li ul,
.listmore_shop .s_down{
    display: none;
}
.listmore_shop .open ul,
.listmore_shop .open .s_down{
    display: block;
}
.listmore_shop > li:after{
    content: '+';
    color: #808080;
    position: absolute;
    right: 30px;
    top: 8px;
    @extend .f25;
}
.listmore_shop > .open:after{
    content: '-';
    right: 33px;
     @extend .f25;
}

/*shiti info*/
.shitiInfos{
    display: none;
}

/* Carousel */
.js-slider{overflow:hidden;position:relative}
.js-slider-img-wrap{overflow:hidden}
.js-slider-h .js-slider-img{float:left ; text-align:center;}
.js-slider-num-wrap{position:absolute;bottom:5px;left:50%;z-index:99; margin-left:-39px}
.js-slider-num{float:left}.js-slider-num-cur{color:#ff0000}
.slider-num li{margin-left: 4px;width: 12px;height: 12px;border-radius: 6px;text-indent: -9999px;background-color: #b9bbb8;}
.slider-num .js-slider-num-cur{background-color:#f00;}
/* Carousel */
.indexIMGS .slider-pic img{
  max-width:960px; max-height:100%;
}
.proInfoImg .slider-pic img{
  max-width:600px; max-height:100%;
}
.entityImgs .slider-pic img{
  max-width:960px; max-height:100%;
}



.switch {
  position: relative;
  height: 24px;
  width: 45px;
  background: #f4f4f4;
  @include prefixer(border-radius, 20px , WebKit moz o);
  border:#dddddd solid 1px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 20px;
  height: 24px;
  cursor: pointer;
  @include ovh(hidden);
  text-indent: -9999px;

}
.switch-label:active {
  /* font-weight: bold; */
}

.switch-label-off {
  padding-left: 2px;
  border-top-left-radius:12px;
  border-bottom-left-radius:12px;
  background:#ffbd00;
}

.switch-label-on {
  padding-right: 2px;
  border-top-right-radius:12px;
  border-bottom-right-radius:12px;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  @include prefixer(transition, 0.15s ease-out, webkit moz o);
  background:#f4f4f4;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 18px;
  /* Note: left: 50% doesn't transition in WebKit */
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 3;
  top: -3px;
  left: -1px;
  width: 25px;
  height: 25px;
  background: $white;
  @include prefixer(border-radius, 25px, webkit o moz);
   @include prefixer(box-shadow, 0 4px 5px #848183, webkit o moz);
  border:#dddddd solid 1px;
  @include prefixer(transition, left 0.15s ease-out, WebKit o moz);
}

/* zidingyi alert */
.ui-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 10000; /* Larger then the z-index value of .ui-backdrop class */
    overflow: auto;
    overflow-y: scroll;
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.ui-dialog.js-show{
    display: block;
}
.js-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: #000000;
    opacity: 0;
    display: block;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    z-index: 9999;
}
.js-backdrop.js-show {
    visibility: visible;
    opacity: .5;
}
.ui-alert {
    border-radius: 10px;
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0);
    transform: translate3d(-50%, -50%, 0) scale(0);
    opacity: 0;
    backface-visibility: hidden;
    background-color: #ECECEC;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    line-height: normal;
}
.ui-dialog.js-show > .ui-alert{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
    transform: translate3d(-50%, -50%, 0) scale(1);
}
.ui-alert-header,
.ui-alert-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.ui-alert-header {
    margin-top: 15px;
}
.ui-alert-title {
    position: static;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    line-height: normal;
}
.ui-alert-body {
    margin: 15px;
    font-size: 14px;
    text-align: center;
}
.ui-alert-footer {
    width: 100%;
    padding: 0;
}
.ui-alert-button {
    display: block;
    max-width: 280px;
    width: auto;
    margin: 0;
    padding: 8px 0px;
    border: 0;
    border-top: solid 1px #b5b5b5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #167efb;
    background-color: rgba(255, 255, 255, 0.01);
    transition: background-color .1s ease-in-out;
}
.ui-alert-button + .ui-alert-button {
    border-left: solid 1px #b5b5b5;
}
/* //zidingyi alert */
/* join style */
.bannerFont{
  height: 270px;
  background: url(/images/jmdb01.jpg) no-repeat;
  background-size:100% auto;
}
.joinIntroduce{
  @include height(false, auto ,28px);
  padding:4%;
  text-align: justify;
}
.joinNames{
  @include height(false,30px, 30px);
  text-align: center;
  color:$white;
  background: $red;
  display: block;
}
.brandContrast{
  padding:2%;
}
.tbl
{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: none;
    margin: 0 auto;
}
.tbl thead td
{ 
   @extend .f30;
    border: none;
    font-weight: bold;
    line-height: 65px;
}

.tbl tbody td
{
  @include borders(1px, solid, #dbdbdb);
    min-height: 35px;
    padding: 5px 0px;
}
.tbl tbody td{
  img{
    max-width: 100%;
  }
}
.tbl tfoot td
{
    text-align: left;
    padding-top: 20px;
}

.tbl td.yc
{
    color: $red;
    font-weight: bold;
}
.contrastSource{
  height: 375px;
  background:#f9f9f9 url(/images/jmdb02.jpg) no-repeat center center;
}
.trafficSources{
  @include ovh;
   @include height(true, 80px, auto);
   padding:20px 0;
  width:50%;
  margin:auto;
  .right{
     @extend .fl;
    width:40%;
    text-align: center;
    @include height(false, 40px , 40px);
    @extend .f30;
    font-weight: bold;
  }
  .compart_content{
    @extend .fl;
    width:60%;
    @include height(true, atuo, 24px);
  }
}
.joinContainer{
  padding:2%;
}
.joinImgs{
  padding:2% 2% 5%;
  text-align: center;
  img{
    max-width:100%;
  }
}
.lxfs
{
   @include ovh;
   padding:2% 10%;
   @include prefixer(box-sizing, border-box, webkit o moz);
}

.lxfs .info
{
    color: #333;
}

.lxfs .info ul
{
  @include ovh;
}
.lxfs .info ul li
{
    @include float;
    width: 35%;
    padding:6% 0 0 5%;
    @include prefixer(box-sizing, border-box, webkit o moz);
    &.mx{
      width: 35%;
    }
    &.wx
      {
          width:30%;
          @include float(right);
          padding:0;
          img{
            max-width: 100%;
          }
      }
}

/* goods info mess */
.detailsInfMess{
  table{
    width:100%;
    td{
      img{
        max-width: 100%;
      }
    }
  }
}
.det-des-title{
background: url(/images/icon-detail-description.gif) no-repeat 4px center;
@extend .f18;
padding-left: 15px;
@include height(false, 40px, 40px);
background-size:8px;
border-bottom:#dddddd solid 1px;
}
.framefeatures{
   padding:0 2%;
  line-height: 22px;
  text-align: center;
  img{
    max-width: 100%;
  }
}
/* end */
/* note style */
.popNote{
  padding:5%;
  line-height: 25px;
  text-align: center;
}
/* end */
