<style>
	body{background: #f4f4f4;}
</style>
<div class="shoppingCarBox">
	<ul class="addressli">
		<li><label class="label">收货人姓名</label><span class="span"><input name="FullName" type="text" class="inputCommon"></span></li>
		<li><label class="label">手机号码</label><span class="span"><input name="Mobile" type="text" class="inputCommon"></span></li>
		<li><label class="label">邮政编码</label><span class="span"><input name="Zip" type="text" class="inputCommon"></span></li>
		<li>
            <div style="overflow: hidden"><label class="label">省市区(县)</label><span class="span tars">></span></div>
        </li>
		<li><label class="label">详细地址</label><span class="span">
            <input name="Street" type="text" class="inputCommon"></span>
        </li>
		<li><label class="label">&nbsp;</label><span class="span">
            <input id="applyAddAddress" type="button" value="添加收货地址" class="buttonRed buttonRed_add">
        </span></li>
	</ul>
</div>