<style>
	body{background: #f4f4f4;}
</style>
<nav>
	<div class="navBar">
		<a href="javascript:;" class="backGo"><</a>
		<span class="txt">填写订单信息</span>
		<a href="javascript:;" class="home"></a>
	</div>
</nav>
<div class="shoppingCarBox">
	<ul class="addressli">
		<li><label for="" class="label">收货人姓名</label><span class="span"><input type="text" class="inputCommon"></span></li>
		<li><label for="" class="label">手机号码</label><span class="span"><input type="text" class="inputCommon"></span></li>
		<li><label for="" class="label">邮政编码</label><span class="span"><input type="text" class="inputCommon"></span></li>
		<li><label for="" class="label">省市区(县)</label><span class="span tars">></span></li>
		<li><label for="" class="label">详细地址</label><span class="span"><input type="text" class="inputCommon"></span></li>
		<li><label for="" class="label">&nbsp;</label><span class="span"><input type="submit" value="添加收货地址" class="buttonRed buttonRed_add"></span></li>
	</ul>
</div>
		
