<% if(list.length > 0){ %>
<ul class="proCarList proCarList_ord">
    <% for(var i = 0; i < list.length; i++){ %>
    <li>
        <span for="" class="radius">&nbsp;</span>
        <span class="carProImg"><a href="javascript:;"><img src="../images/img10.png" alt=""></a></span>
        <div class="carContent">
			<span class="carProTitle"><a href="javascript:;">Levi's李维斯LS06148Z 正品 板材近视男款眼镜
            </a><em class="cpPrice">￥199.00<br/>X1</em></span>
            <p class="sezhi">规格：深蓝色C02；</p>
        </div>
        <p class="fixclear"></p>
        <div class="yanguangdanBox">
            <!-- 有验光单数据 -->
            <div class="yanguangdan">
                <em class="emjiao"></em>
                <div class="yanBox">
                    <table>
                        <thead>
                        <tr>
                            <td></td>
                            <td>右眼(R)</td>
                            <td>左眼(L)</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>度数(SPH)</td>
                            <td>500度</td>
                            <td>340度</td>
                        </tr>
                        <tr>
                            <td>瞳距(PD)</td>
                            <td colspan="2">59</td>
                        </tr>
                        <tr>
                            <td>散光(CYL)</td>
                            <td>100度</td>
                            <td>100度</td>
                        </tr>
                        <tr>
                            <td>轴位(AXIS)</td>
                            <td>179</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 有验光单数据 end -->
        </div>
    </li>
    <% } %>
</ul>
<% }else{ %>
<div class="no-data">
    <p>无商品信息</p>
</div>
<% } %>