<!-- 3种按按钮状态下 start -->
<div class="order_state mrbn tac">
    <button type="button" class="buttonGreen buttonGn">我要评价</button><br/><br/>
    <button type="button" class="buttonYellow buttonYw">我要付款</button><br/><br/>
    <button type="button" class="buttonYellow buttonYw">确认收货</button>
</div>
<!-- 3种按按钮状态下 end -->
<div class="order_state mrbn">
    <p class="orderInfos"><em class="f1">订单号：224021</em>订单金额：￥199.00<br/>成交时间：2014-07-22 11：30</p>
</div>
<div class="order_state mrbn bdbN">
    <p class="order_user"><em class="f1">章先生</em><em>18052641125</em><br/>浙江省杭州市余杭区文一西路1218号恒生科技园1号楼318室
    </p>
</div>
<div class="myAllOrder">
    <ul class="proCarList">
        <li>
            <span class="carProImg"><a href="javascript:;"><img src="../images/img10.png" alt=""></a></span>
            <div class="carContent orderCon">
			<span class="carProTitle"><a href="javascript:;">Levi's李维斯LS06148Z 正品 板材近视男款眼镜
            </a><em class="cpPrice">￥199.00<br/>X1</em></span>
                <p class="sezhi">规格：深蓝色C02；</p>
            </div>
            <p class="fixclear"></p>
            <div class="yanguangdanBox">
                <!-- 有验光单数据 -->
                <div class="yanguangdan">
                    <em class="emjiao"></em>
                    <div class="yanBox">
                        <table>
                            <thead>
                            <tr>
                                <td></td>
                                <td>右眼(R)</td>
                                <td>左眼(L)</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>度数(SPH)</td>
                                <td>500度</td>
                                <td>340度</td>
                            </tr>
                            <tr>
                                <td>瞳距(PD)</td>
                                <td colspan="2">59</td>
                            </tr>
                            <tr>
                                <td>散光(CYL)</td>
                                <td>100度</td>
                                <td>100度</td>
                            </tr>
                            <tr>
                                <td>轴位(AXIS)</td>
                                <td>179</td>
                                <td>2</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 有验光单数据 end -->
            </div>
        </li>
        <li>
            <span class="carProImg"><a href="javascript:;"><img src="../images/img10.png" alt=""></a></span>
            <div class="carContent orderCon">
			<span class="carProTitle"><a href="javascript:;">Levi's李维斯LS06148Z 正品 板材近视男款眼镜
            </a><em class="cpPrice">￥199.00<br/>X1</em></span>
                <p class="sezhi">规格：深蓝色C02；</p>
            </div>
        </li>
    </ul>
</div>
<p class="feedback">留言：做精细些，发9816枪色，差价205元已经补过了。</p>