<% if(list.length > 0){ %>
<ul class="proCarList">
    <% for(var i = 0; i < list.length; i++){ %>
    <li class="cart-item" data-price="<%= list[i].SalePrice %>" data-count="<%= list[i].Qty %>" <% if(i % 2){ %>class="focus"<% } %>>
        <a href="javascript:" class="delGoodSelect" data-CartID="<%= list[i].CartID %>">删除</a>
        <span class="radius">
            <input value="<%= list[i].CartID %>" type="checkbox" id="radio-<%= i %>" name="radio-<%= i %>-set" class="regular-radio big-radio" />
            <label for="radio-<%= i %>"></label>
        </span>
        <span class="carProImg"><a href="#ac=goods.product_info&GoodsID=<%= list[i].GoodsID %>"><img src="<%= list[i].SmallImage %>" alt=""></a></span>
        <div class="carContent">
            <span class="carProTitle"><a href="#ac=goods.product_info&GoodsID=<%= list[i].GoodsID %>"><%= list[i].GoodsName %>
            </a><em class="cpPrice"><%= list[i].SalePrice %><br/>X<%= list[i].Qty %></em></span>
            <p class="sezhi">规格：<%= list[i].SkuName %></p>
        </div>
        <p class="carBtnBox">
            <a href="javascript:" data-selectYGD>有验光单输入</a><a href="javascript:" class="gntbg" data-editYGD>没验光单点我</a>
        </p>
        <div class="ygdWrap"></div>
        <!-- 选择的验光单数据 -->
        <div data-show class="yanguangdan" style="display: none; clear: both">
            <em class="emjiao"></em>
            <div class="yanBox">
                <table>
                    <thead>
                    <tr>
                        <td></td>
                        <td>右眼(R)</td>
                        <td>左眼(L)</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>度数(SPH)</td>
                        <td class="rsph"></td>
                        <td class="lsph"></td>
                    </tr>
                    <tr>
                        <td>瞳距(PD)</td>
                        <td colspan="2" class="pd"></td>
                    </tr>
                    <tr>
                        <td>散光(CYL)</td>
                        <td class="rcyl"></td>
                        <td class="lcyl"></td>
                    </tr>
                    <tr>
                        <td>轴位(AXIS)</td>
                        <td class="raxis"></td>
                        <td class="laxis"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
          <button class="edit_ygd_btn" type="button" class="buttonRed">修改验光单</button>
        </div>
        <!-- 选择的验光单数据 end -->
    </li>
    <% } %>
</ul>
<div class="clearing">
    <span class="sp_01">
        <a href="javascript:" id="selectAll">全选</a>
        <a href="javascript:" id="unSelect">反选</a>
    </span>
    <span class="sp_03"><button type="button" class="buttonRed disab" id="applyPayBtn">结算</button></span>
    <span class="sp_02"><p>合计：￥<em id="totalPay">0.00</em></p><span>不含运费</span></span>
</div>
<% }else{ %>
<div class="no-data">
    <p>暂无数据</p>
</div>
<% } %>