<!-- 3种按按钮状态下 start -->
<div class="order_state mrbn tac">
  <% if(info.StatusID == 10){ %>
  <button type="button" class="buttonYellow buttonYw">我要付款</button>
  <% } %>
  <% if(info.StatusID == 100){ %>
    <% if(info.ISPL == "False"){ %>
    <a href="#ac=goods.sendcomments&OrderID=<%= info.OrderID %>" class="buttonGreen buttonGn">我要评价</a>
    <% }else{ %>
    <a href="javascript:" class="buttonGreen buttonGn">查看评价</a>
    <% } %>
  <% } %>
  <% if(info.StatusID == 80){ %>
  <button type="button" class="buttonYellow buttonYw">确认收货</button>
  <% } %>
</div>
<!-- 3种按按钮状态下 end -->
<div class="order_state mrbn">
    <p class="orderInfos"><em class="f1">订单号：<%= info.OrderID %></em>订单金额：￥<%= info.TotalAmount %><br/>成交时间：<%= info.CreateTime %></p>
</div>
<div class="order_state mrbn bdbN">
    <p class="order_user"><em class="f1"><%= info.Fullname %></em><em>18052641125</em><br/><%= info.Street %></p>
</div>
<div class="myAllOrder">
    <ul class="proCarList">
      <% for(var i = 0; i < list.length; i++){ %>
        <li>
            <span class="carProImg"><a href="javascript:;"><img src="<%= list[i].SmallImage %>" alt=""></a></span>
            <div class="carContent orderCon">
			        <span class="carProTitle">
                <a href="javascript:;"><%= list[i].GoodsName %></a>
                <em class="cpPrice">￥<%= list[i].GoodsPrice %><br/>X1</em></span>
                <p class="sezhi">规格：<%= list[i].SkuName %></p>
            </div>
            <p class="fixclear"></p>
            <!--<div class="yanguangdanBox">
                &lt;!&ndash; 有验光单数据 &ndash;&gt;
                <div class="yanguangdan">
                    <em class="emjiao"></em>
                    <div class="yanBox">
                        <table>
                            <thead>
                            <tr>
                                <td></td>
                                <td>右眼(R)</td>
                                <td>左眼(L)</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>度数(SPH)</td>
                                <td>500度</td>
                                <td>340度</td>
                            </tr>
                            <tr>
                                <td>瞳距(PD)</td>
                                <td colspan="2">59</td>
                            </tr>
                            <tr>
                                <td>散光(CYL)</td>
                                <td>100度</td>
                                <td>100度</td>
                            </tr>
                            <tr>
                                <td>轴位(AXIS)</td>
                                <td>179</td>
                                <td>2</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                &lt;!&ndash; 有验光单数据 end &ndash;&gt;
            </div>-->
        </li>
      <% } %>
    </ul>
</div>
<% if(info.Remark){ %>
  <p class="feedback">留言：<%= info.Remark %></p>
<% } %>