<% if(list.length > 0){ %>
<ul class="proCarList proCarList_ord">
    <% for(var i = 0; i < list.length; i++){ %>
    <li>
        <span for="" class="radius">&nbsp;</span>
        <span class="carProImg"><a href="javascript:;"><img src="<%= list[i].SmallImage %>" alt=""></a></span>
        <div class="carContent">
			<span class="carProTitle"><a href="#ac=goods.product_info&GoodsID=<%= list[i].GoodsID %>"><%= list[i].GoodsName %>
            </a><em class="cpPrice">￥<%= list[i].SalePrice %><br/>X<%= list[i].Qty %></em></span>
            <p class="sezhi">规格：<%= list[i].SkuName %></p>
        </div>
        <% if(list[i].PrescriptionInfo){ %>
        <p class="fixclear"></p>
        <div class="yanguangdanBox">
            <!-- 有验光单数据 -->
            <input type="hidden" name="SelectedPrescriptionID" value="<%= list[i].SelectedPrescriptionID %>"/>
            <div class="yanguangdan">
                <em class="emjiao"></em>
                <div class="yanBox">
                    <table>
                        <thead>
                        <tr>
                            <td></td>
                            <td>右眼(R)</td>
                            <td>左眼(L)</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>度数(SPH)</td>
                            <td><%= list[i].PrescriptionInfo.RightSph %></td>
                            <td><%= list[i].PrescriptionInfo.LeftSph %></td>
                        </tr>
                        <tr>
                            <td>瞳距(PD)</td>
                            <td colspan="2"><%= list[i].PrescriptionInfo.PD %></td>
                        </tr>
                        <tr>
                            <td>散光(CYL)</td>
                            <td><%= list[i].PrescriptionInfo.RightCyl %></td>
                            <td><%= list[i].PrescriptionInfo.LeftCyl %></td>
                        </tr>
                        <tr>
                            <td>轴位(AXIS)</td>
                            <td><%= list[i].PrescriptionInfo.RightAxis %></td>
                            <td><%= list[i].PrescriptionInfo.LeftAxis %></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 有验光单数据 end -->
        </div>
        <% } %>
    </li>
    <% } %>
</ul>
<% }else{ %>
<div class="no-data">
    <p>无商品信息</p>
</div>
<% } %>