<style>
	body{background: #f4f4f4;}
</style>
<div id="cityListWrap">
    <ul class="cityList">
        <li>
            <a class="data-province" href="javascript:;" data-province="">浙江省</a>
            <ul style="display: none">
                <li>
                    <a class="data-city" href="javascript:;" data-city="">杭州市</a>
                    <ul style="display: none">
                        <li><a class="data-area" href="javascript:;" data-area="">西湖区</a></li>
                        <li><a class="data-area" href="javascript:;" data-area="">栱墅区</a></li>
                        <li><a class="data-area" href="javascript:;" data-area="">余杭区</a></li>
                        <li><a class="data-area" href="javascript:;" data-area="">西湖区</a></li>
                    </ul>
                </li>
                <li>
                    <a class="data-city" href="javascript:;" data-city="">温州市</a>
                    <ul style="display: none">
                        <li><a class="data-area" href="javascript:;" data-area="">龙弯工业区</a></li>
                        <li><a class="data-area" href="javascript:;" data-area="">火车站</a></li>
                        <li><a class="data-area" href="javascript:;" data-area="">西湖区</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>