<style>
    body{background: #f4f4f4;}
</style>
<section id="loginWapper">
    <ul class="loginGo">
        <li><em class="inpIcons"></em><input id="account" type="text" value="请输入用户名与邮箱" class="inputCommon"><em class="updown">></em></li>
        <li><em class="inpPwd"></em><input id="pwd" type="password" class="inputCommon"></li>
        <li class="btns"><button type="button" class="buttonRed" id="loginBtn">登录</button></li>
        <li class="last"><a href="javascript:;" class="lookpwd">找回密码</a><a href="#ac=user.register" class="account"> 还没有帐号？注册一个呗</a></li>
    </ul>
</section>