<div class="shoppingCarBox">
	<div class="userAdress">
		<div class="userAdL">
			<span class="adIcon"></span>
            <span class="adContent">
                <h3 class="nameAndPhone"><em>张小姐</em>1809234594</h3>
                <p class="adText">收货地址：浙江省杭州市余杭区文一西路1218号恒生科技园1号楼318室</p>
            </span>
		</div>
		<span class="adNext"><a href="#ac=user.addAddress">></a></span>
	</div>
	<div class="payWay">
		<p>支付配送方式</p>
		<p class="payBtn" id="paymentType">
            <a data-PaymentID="1" href="javascript:;" class="mr5">支付宝/快递0元</a>
            <a data-PaymentID="2" href="javascript:;" class="">货到付款/顺丰15元</a>
        </p>
	</div>
	<p class="titleName">商品</p>
	<ul class="proCarList proCarList_ord">
      <li>
      	<span for="" class="radius">&nbsp;</span>
		<span class="carProImg"><a href="javascript:;"><img src="../images/img10.png" alt=""></a></span>
		<div class="carContent">
			<span class="carProTitle"><a href="javascript:;">Levi's李维斯LS06148Z 正品 板材近视男款眼镜
</a><em class="cpPrice">￥199.00<br/>X1</em></span>
<p class="sezhi">规格：深蓝色C02；</p>
		</div>
		<p class="fixclear"></p>
		<div class="yanguangdanBox">
<!-- 有验光单数据 -->
		<div class="yanguangdan">
			<em class="emjiao"></em>
			<div class="yanBox">
				<table>
					<thead>
						<tr>
							<td></td>
							<td>右眼(R)</td>
							<td>左眼(L)</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>度数(SPH)</td>
							<td>500度</td>
							<td>340度</td>
						</tr>
						<tr>
							<td>瞳距(PD)</td>
							<td colspan="2">59</td>
						</tr>
						<tr>
							<td>散光(CYL)</td>
							<td>100度</td>
							<td>100度</td>
						</tr>
						<tr>
							<td>轴位(AXIS)</td>
							<td>179</td>
							<td>2</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- 有验光单数据 end -->
	</div>
      </li>
      <li>
      	<span for="" class="radius">&nbsp;</span>
		<span class="carProImg"><a href="javascript:;"><img src="../images/img10.png" alt=""></a></span>
		<div class="carContent">
			<span class="carProTitle"><a href="javascript:;">Levi's李维斯LS06148Z 正品 板材近视男款眼镜
</a><em class="cpPrice">￥199.00<br/>X1</em></span>
<p class="sezhi">规格：深蓝色C02；</p>
		</div>
      </li>
	</ul>
	<div class="orderDl">
		<table width="100%" class="orderD1Tb">
			<tr>
				<td width="10%">使用优惠劵：</td>
				<td>
					<span class="youhui"><label for="" class="flIn fl"><input type="text"></label><label for="" class="frBtn fl"><input type="submit" value="提交"></label></span>
				</td>
				<td class="red">-￥9.00</td>
			</tr>
		</table>
	</div>
	<div class="orderDl">
		<p class="lh40"><em>普通发票(￥32.25)</em><a class="focus" href="javascript:;">不需要</a><a href="javascript:;">需要</a></p>
		<p class="lh40"><input type="text" value="请输入台头"></p>
	</div>
	<div class="orderDl">
		<div class="leaveMess"><em>在这里留言：</em><input type="text"></div>
		<div class="diyongj">
			<p class="fl">可用562亿超积分抵用5.62元</p>
			<div class="fr">
				<div class="switch">
			      <input type="radio" class="switch-input" name="view" value="no" id="no" checked>
			      <label for="no" class="switch-label switch-label-off">no</label>
			      <input type="radio" class="switch-input" name="view" value="yes" id="yes">
			      <label for="yes" class="switch-label switch-label-on">yes</label>
			      <span class="switch-selection"></span>
			    </div>
			</div>
		</div>
	</div>
	<div class="clearing">
		<span class="sp_01">&nbsp;</span>
		<span class="sp_03"><button type="button" class="buttonRed" id="submitOrderBtn">提交订单</button></span>
		<span class="sp_02"><p>合计：￥<em id="totalPay">0.00</em></p><span>包含运费</span></span>
	</div>
</div>

