<div class="shoppingCarBox">
	<div class="userAdress">
		<div class="userAdL">
			<span class="adIcon"></span>
            <span class="adContent" id="defualtAddressBlock">
              <input type="hidden" id="AddID"/>
                <h3 class="nameAndPhone"><em id="fullName"></em><span id="mobile"></span></h3>
                <p class="adText">收货地址：<span id="detailAddress"></span></p>
            </span>
		</div>
		<span class="adNext"><a href="#ac=user.address">></a></span>
	</div>
    <div class="addBtnbox" style="display: none"><button id="toAddAddress" type="button" class="buttonRed buttonRed_add">新增收货地址</button></div>
	<div class="payWay">
		<p>支付配送方式</p>
		<p class="payBtn" id="paymentType">
            <a data-PaymentID="109" href="javascript:;" class="mr5">支付宝/快递0元</a>
            <a data-PaymentID="106" href="javascript:;" class="">货到付款/顺丰15元</a>
        </p>
	</div>
	<p class="titleName">商品</p>
	<div id="orderSheetGoods"></div>
	<div class="orderDl">
		<table width="100%" class="orderD1Tb">
			<tr>
				<td width="10%">使用优惠劵：</td>
				<td>
					<span class="youhui"><label for="" class="flIn fl"><input type="text"></label><label for="" class="frBtn fl"><input type="submit" value="提交"></label></span>
				</td>
				<td class="red">-￥9.00</td>
			</tr>
		</table>
	</div>
	<div class="orderDl">
		<p class="lh40"><em>普通发票(￥32.25)</em><a class="focus" href="javascript:;">不需要</a><a href="javascript:;">需要</a></p>
		<p class="lh40"><input type="text" value="请输入台头"></p>
	</div>
	<div class="orderDl">
		<div class="leaveMess"><em>在这里留言：</em><input id="remark" type="text"></div>
		<div class="diyongj">
			<p class="fl">可用562亿超积分抵用5.62元</p>
			<div class="fr">
				<div class="switch">
			      <input type="radio" class="switch-input" name="view" value="no" id="no" checked>
			      <label for="no" class="switch-label switch-label-off">no</label>
			      <input type="radio" class="switch-input" name="view" value="yes" id="yes">
			      <label for="yes" class="switch-label switch-label-on">yes</label>
			      <span class="switch-selection"></span>
			    </div>
			</div>
		</div>
	</div>
	<div class="clearing">
		<span class="sp_01">&nbsp;</span>
		<span class="sp_03"><button type="button" class="buttonRed" id="submitOrderBtn">提交订单</button></span>
		<span class="sp_02"><p>合计：￥<em id="totalPay">0.00</em></p><span>包含运费</span></span>
	</div>
</div>

