<style>
	body{background: #f4f4f4;}
</style>
<section id="loginWapper">
	<ul class="loginGo regGo">
		<li><input type="text" value="请输入手机号" class="inputCommon regInp"><em class="verfiy">正在验证</em></li>
		<li><input type="password" value="请输入密码" class="inputCommon regInp"><em class="verfiy"><i class="icons"></i></em>
		<li><input type="password" value="再次输入密码" class="inputCommon regInp"><em class="verfiy">请两密码不致</em></li>
		<li class="last yesNo"><span class="lookpwd"><span class="onoff"><label><i></i></label></span>开户显示密码</span></li>
		<li class="btns"><button type="button" class="buttonRed">注册</button></li>
	</ul>
</section>
