<style>
	body{background: #f4f4f4;}
</style>
<section id="loginWapper">
	<ul class="loginGo regGo">
		<li>
      <input name="telephone" type="text" maxlength="30" placeholder="邮箱/手机号" class="inputCommon regInp">
      <em class="verfiy" id="phone-tip" style="display: none"></em>
    </li>
		<li>
      <input name="password" type="password" placeholder="请输入密码" class="inputCommon regInp">
      <em class="verfiy" id="pwd1-tip" style="display: none"><i class="icons"></i></em>
    </li>
		<li>
      <input name="password2" type="password" placeholder="再次输入密码" class="inputCommon regInp">
      <em class="verfiy" id="pwd2-tip" style="display: none"></em>
    </li>
		<li class="last yesNo">
			<div class="switch fl">
        <input type="radio" class="switch-input" name="view" value="no" id="no" checked>
        <label id="offDisplay" for="no" class="switch-label switch-label-off">no</label>
        <input type="radio" class="switch-input" name="view" value="yes" id="yes">
        <label id="onDisplay" for="yes" class="switch-label switch-label-on">yes</label>
        <span class="switch-selection"></span>
      </div>
      <span class="lookpwd pl15">开户显示密码</span>
		</li>
		<li class="btns"><button id="registerBtn" type="button" class="buttonRed">注册</button></li>
	</ul>
</section>
