<nav>
	<div class="navBar">
		<a href="javascript:;" class="backGo"><</a>
		<span class="txt">咨询客服</span>
		<a href="javascript:;" class="home"></a>
	</div>
</nav>
<ul class="services">
	<li><label for="" class="labels"><em class="icn1"></em></label><span class="spans">QQ号码：800015239<br/>
点击咨询QQ客服</span></li>
	<li><label for="" class="labels"><em class="icn2"></em></label><span class="spans">旺旺昵称：亿超售前<br/>
点击咨询旺旺客服</span></li>
	<li class="last"><label for="" class="labels"><em class="icn3"></em></label><span class="spans">电话：400 675 2788<br/>
点击拨打电话咨询</span></li>
</ul>