<ul class="services">
	<li><label for="" class="labels"><em class="icn1"></em></label><span class="spans"><a href="http://wpa.qq.com/msgrd?v=3&uin=800015239&site=qq&menu=yes">QQ号码：800015239<br/>
点击咨询QQ客服</a></span></li>
	<li><label for="" class="labels"><em class="icn2"></em></label><span class="spans"><a href="http://amos.alicdn.com/msg.aw?v=2&uid=%E4%BA%BF%E8%B6%85%E5%94%AE%E5%89%8D&site=cnalichn&s=11&charset=UTF-8">旺旺昵称：亿超售前<br/>
点击咨询旺旺客服</a></span></li>
	<li class="last"><label for="" class="labels"><em class="icn3"></em></label><span class="spans">电话：<a link="tel:4006752788" href="tel:4006752788">400 675 2788</a><br/>
点击拨打电话咨询</span></li>
</ul>