<div class="yanguangdanBox">
    <!-- 有验光单数据 -->
    <div class="yanguangdan">
        <em class="emjiao"></em>
        <div class="yanBox">
            <table>
                <thead>
                <tr>
                    <td></td>
                    <td>右眼(R)</td>
                    <td>左眼(L)</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>度数(SPH)</td>
                    <td>500度</td>
                    <td>340度</td>
                </tr>
                <tr>
                    <td>瞳距(PD)</td>
                    <td colspan="2">59</td>
                </tr>
                <tr>
                    <td>散光(CYL)</td>
                    <td>100度</td>
                    <td>100度</td>
                </tr>
                <tr>
                    <td>轴位(AXIS)</td>
                    <td>179</td>
                    <td>2</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" class="buttonRed">修改验光单</button>
    <!-- 有验光单数据 end -->
</div>