<!-- 输入验光单数据 弹框的形式出现 -->
<div class="yanguangdan yanguangdan_noB">
    <!--<div class="yanTime">
        <label for="" class="fl">选择验光数据：</label>
        <span class="fl">
            <a href="javascript:;" class="aa">2014-01-18</a>
            <a href="javascript:;" class="aa">2010-10-22</a>
        </span>
    </div>-->
    <div class="yanBox yanBox_bdYes">
        <table>
            <thead>
            <tr>
                <td></td>
                <td>右眼(R)</td>
                <td>左眼(L)</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>度数(SPH)</td>
                <td><select name="RightSph">
                    <option value="">选择</option>
                </select></td>
                <td><select name="LeftSph">
                    <option value="">选择</option>
                </select></td>
            </tr>
            <tr>
                <td>瞳距(PD)</td>
                <td colspan="2"><select name="PD">
                    <option value="">选择</option>
                </select></td>
                <td></td>
            </tr>
            <tr>
                <td>散光(CYL)</td>
                <td><select name="RightCyl">
                    <option value="">选择</option>
                </select></td>
                <td><select name="LeftCyl">
                    <option value="">选择</option>
                </select></td>
            </tr>
            <tr>
                <td>轴位(AXIS)</td>
                <td><select name="RightAxis">
                    <option value="">选择</option>
                </select></td>
                <td><select name="LeftAxis">
                    <option value="">选择</option>
                </select></td>
            </tr>
            </tbody>
        </table>
        <p class="yesnobtn">
            <button type="button" class="affirm">确认</button>
            <button type="button" class="cancel">取消</button>
        </p>
    </div>
</div>
<!-- 选择验光单数据 end-->