<div class="searchBox">
  <p class="searchNote" id="noResult" style="display: none">
    SORRY,没有找到 "<i class="red" id="searchKeyword"></i>" 的商品。<br/>
    <em>请更换其它关键词搜索。</em>
  </p>
  <div class="search">
    <label class="searchInpt">
      <input type="text" name="keyword" placeholder="输入关键词" class="inputcommon">
    </label>
    <label class="searchBtn" id="searchBtn">
      <input type="submit" value="搜索">
    </label>
  </div>
  <ul class="allgoodsst" id="allGoodsst">
    <li class="first">全部商品分类：</li>
  </ul>
</div>
