<div class="searchBox">
	<p class="searchNote">以下是搜索<i class="red">纯钛</i>”的结果<br/>
</p>
<section class="searchlistBox">
   <ul class="proList">
   	<li>
   		<span class="proImg"><a href="javascript:;"><img src="../images/img01.png" alt=""></a></span>
   		<p class="proName"><a href="javascript:;">新款李维斯近视眼镜超轻
<em class="red">￥578.00</em>（含超薄镜片）</a></p>
   	</li>
   	<li>
   		<span class="proImg"><a href="javascript:;"><img src="../images/img01.png" alt=""></a></span>
   		<p class="proName"><a href="javascript:;">新款李维斯近视眼镜超轻
<em class="red">￥578.00</em>（含超薄镜片）</a></p>
   	</li>
   	<li>
   		<span class="proImg"><a href="javascript:;"><img src="../images/img01.png" alt=""></a></span>
   		<p class="proName"><a href="javascript:;">新款李维斯近视眼镜超轻
<em class="red">￥578.00</em>（含超薄镜片）</a></p>
   	</li>
   	<li>
   		<span class="proImg"><a href="javascript:;"><img src="../images/img01.png" alt=""></a></span>
   		<p class="proName"><a href="javascript:;">新款李维斯近视眼镜超轻
<em class="red">￥578.00</em>（含超薄镜片）</a></p>
   	</li>
   </ul>
   <div class="pagesOn"><a href="javascript:;" class="pageUp">上一页</a><a class="pageNext" href="javascript:;">下一页</a></div>
</section>
</div>
