<div class="searchBox">
	<p class="searchNote">SORRY,没有找到“<i class="red">纯钛</i>”的商品。<br/>
<em>请更换其它关键词搜索。</em></p>
<div class="search"><label class="searchInpt" for=""><input type="text" class="inputcommon"></label><label class="searchBtn" for=""><input type="submit" value="搜索"></label></div>
<ul class="allgoodsst">
	<li class="first">全部商品分类：</li>
	<li><a href="javascript:;">眼镜框</a></li>
	<li><a href="javascript:;">眼镜片</a></li>
	<li><a href="javascript:;">隐形眼镜</a></li>
	<li><a href="javascript:;">护理液</a></li>
	<li><a href="javascript:;">护理产品</a></li>
	<li><a href="javascript:;">太阳镜</a></li>
	<li><a href="javascript:;">游泳产品</a></li>
	<li><a href="javascript:;">老花镜</a></li>
</ul>
</div>
