<div class="banners">
  <div class="scrollImg scrollImg_shiti">
    <ul class="imgListA">
      <li><a href="javascript:;" title="banner图"><img src="../images/img03.png" alt=""></a></li>
      <li><a href="javascript:;" title="banner图"><img src="../images/img03.png" alt=""></a></li>
    </ul>
      <span class="pointersGo">
         <a href="javascript:;"></a>
         <a href="javascript:;"></a>
         <a href="javascript:;"></a></span>
  </div>
</div>
<div class="shitiAddress">
  <p class="shoppName"><%= ShopName %></p>
  <p class="shoppadd">服务热线：<%= Tel %></p>
  <p class="shoppadd">营业时间：<%= OpeningHours %></p>
  <p class="shoppadd">本店地址：<%= Street %></p>
</div>