<p class="pTitles">杭州实体店：</p>
<ul>
  <li><a href="javascript:;">高技街店</a></li>
  <li><a href="javascript:;">新塘路店</a></li>
  <li><a href="javascript:;">延安路店</a></li>
  <li><a href="javascript:;">滨江店</a></li>
</ul>
<p class="pTitles pt10">全国实体店：</p>
<ul class="ul_all">
  <li><a href="javascript:;">杭州</a></li>
  <li><a href="javascript:;">上海</a></li>
  <li><a href="javascript:;">北京</a></li>
  <li><a href="javascript:;">深圳</a></li>
  <li><a href="javascript:;">广州</a></li>
  <li><a href="javascript:;">湖州</a></li>
</ul>