<div class="banners">
  <div class="indexScroll slider" id="jSlider">
    <ul class="slider-pic js-slider-img-wrap">
      <li><a title="大将军新服" href="#"><img src="images/1.jpg" alt=""></a></li>
      <li><a title="铁血大宋新服" href="#"><img src="images/2.jpg" alt=""></a></li>
      <li><a title="惊天战神新服" href="#"><img src="images/3.jpg" alt=""></a></li>
      <li><a title="梦幻之城新服" href="#"><img src="images/4.jpg" alt=""></a></li>
    </ul>
    <ul class="slider-num js-slider-num-wrap">
      <li class="cur">1</li>
      <li class="">2</li>
      <li class="">3</li>
      <li class="">4</li>
    </ul>
  </div>
</div>
<div class="shitiAddress">
  <p class="shoppName"><%= ShopName %></p>
  <p class="shoppadd">服务热线：<%= Tel %></p>
  <p class="shoppadd">营业时间：<%= OpeningHours %></p>
  <p class="shoppadd">本店地址：<%= Street %></p>
</div>