<div class="shitiBox">
  <div id="infoWrap">

  </div>
  <div class="serviceList">
    <ul>
      <li><label for="" class="icn_label icn_label1"></label><span class="con_span">
			<p class="txt">自主选购</p>
			<p class="txt_s">OPEN SHOP</p>
		</span></li>
      <li><label for="" class="icn_label icn_label2"></label><span class="con_span">
			<p class="txt">免费验光</p>
			<p class="txt_s">FREE OPTOMETRY</p>
		</span></li>
      <li><label for="" class="icn_label icn_label3">1YEAR</label><span class="con_span">
			<p class="txt">一年质保</p>
			<p class="txt_s">1YEAR WARRANTY</p>
		</span></li>
      <li><label for="" class="icn_label icn_label4"></label><span class="con_span">
			<p class="txt">免费保养</p>
			<p class="txt_s">REPAIR SERVICE</p>
		</span></li>
    </ul>
  </div>
  <a href="javascript:;" class="updown_go" id="showEntityInfo">点击查看详细寻店攻略<br/><em>>></em></a>
  <div class="shitiInfos" id="entityInfo">
    <div class="imgbox" id="findShop">

    </div>
  </div>
  <div class="otherName" id="otherEntityList">
      <p class="pTitles"><span id="cityName"></span>实体店：</p>
      <div id="otherSubEntityList">

      </div>
      <p class="pTitles pt10">全国实体店：</p>
      <ul class="ul_all">
          <li><a href="javascript:;">杭州</a></li>
          <li><a href="javascript:;">上海</a></li>
          <li><a href="javascript:;">北京</a></li>
          <li><a href="javascript:;">深圳</a></li>
          <li><a href="javascript:;">广州</a></li>
          <li><a href="javascript:;">湖州</a></li>
      </ul>
  </div>
</div>
