<div class="shitiBox">
    <div class="banners">
        <div class="indexScroll slider" id="jSlider">

        </div>
    </div>
  <div id="infoWrap"> </div>
   <div class="appointBox">
    <button class="appoBtns" id="appoBtns">95折预约到店体验</button>
    <div class="appoinContent" id="appoinContent" style="display: none">
      <table class="appoinTab" width="100%">
        <tr>
          <td width="30%" align="right">手机号码</td>
          <td width="70%"><input id="yyTel" type="text" placeholder="请填写手机号码" class="inputCommon"></td>
        </tr>
        <tr>
          <td valign="top" align="right">预约需求</td>
          <td><textarea placeholder="有其它需求可在此处填写（50个字）" class="inputCommon" style="height: 90px; line-height: 22px;" name="" id="yyContent" cols="50" rows="10"></textarea></td>
        </tr>
        <tr>
          <td></td>
          <td><button class="subApp" type="submit" id="submitYY">提交预约</button></td>
        </tr>
        <tr>
          <td></td>
          <td style="color:#a6a6a6;">预约后将收到预约成功的短信，凭短信享95折</td>
        </tr>
      </table>
    </div>
  </div>
  <p class="redPhoneBox">免费发送店铺地址到手机</p>
  <div class="phoneNumBox"><label for=""><input placeholder="请填写手机号码" id="getAddressTel" type="text" class="inputCommon" style="width:60%;"><button id="sendAddress" type="submit" class="red sendPh">发送到手机</button></label></div>
  <div class="serviceList">
    <ul>
      <li><label for="" class="icn_label icn_label1"></label><span class="con_span">
			<p class="txt">自主选购</p>
			<p class="txt_s">OPEN SHOP</p>
		</span></li>
      <li><label for="" class="icn_label icn_label2"></label><span class="con_span">
			<p class="txt">免费验光</p>
			<p class="txt_s">FREE OPTOMETRY</p>
		</span></li>
      <li><label for="" class="icn_label icn_label3">1YEAR</label><span class="con_span">
			<p class="txt">一年质保</p>
			<p class="txt_s">1YEAR WARRANTY</p>
		</span></li>
      <li><label for="" class="icn_label icn_label4"></label><span class="con_span">
			<p class="txt">免费保养</p>
			<p class="txt_s">REPAIR SERVICE</p>
		</span></li>
    </ul>
  </div>
  <a href="javascript:;" class="updown_go" id="showEntityInfo">点击查看详细寻店攻略<br/><em>>></em></a>
  <div class="shitiInfos" id="entityInfo">
    <div class="imgbox" id="findShop">

    </div>
  </div>
  <div class="otherName" id="otherEntityList">
      <p class="pTitles"><span id="cityName"></span>实体店：</p>
      <div id="otherSubEntityList">

      </div>
      <p class="pTitles pt10">全国实体店：</p>
      <div id="allEntityPro">

      </div>
  </div>
</div>
