<div class="shitiBox">
	<ul class="listmore_shop">
		<li>
			<a href="javascript:;" class="cityName">杭州<em>-</em> <em class="s_down"></em></a>
			<ul>
				<li><a href="javascript:;">滨江店</a></li>
				<li><a href="javascript:;">高技街店</a></li>
				<li><a href="javascript:;">紫金港店</a></li>
				<li><a href="javascript:;">延安路店</a></li>
				<li><a href="javascript:;">朝晖店</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:;" class="cityName">上海<em>+</em> <em class="s_down"></em></a>
			<ul>
				<li><a href="javascript:;">滨江店</a></li>
				<li><a href="javascript:;">高技街店</a></li>
				<li><a href="javascript:;">紫金港店</a></li>
				<li><a href="javascript:;">延安路店</a></li>
				<li><a href="javascript:;">朝晖店</a></li>
			</ul>
		</li>
	</ul>
</div>
