<div class="shitiBox">
	<div class="shitiAddress">
	  <p class="shoppName"><%= ShopName %></p>
	  <p class="shoppadd">服务热线：<%= Tel %></p>
	  <p class="shoppadd">营业时间：<%= OpeningHours %></p>
	  <p class="shoppadd">本店地址：<%= Street %></p>
	</div>
	<div class="appoinContent appPD">
		<p class="appoinTxt red">预约***成功</p>
		<p class="appoinTxt">出示预约短信，可到店享受95折优惠</p>

		<p class="appoinTxt red">134922212</p>
		<p class="appoinTxt red">店铺地址短信已发送，请注意查收</p>
		
		<a href="javascript:;" class="backGos">返回上一页</a>
	</div>
</div>