<section class="joinBox">
<div class="bannerFont"></div>
<p class="joinIntroduce"> 一直以来，很多的创业者对于“眼镜”这个行业是跃跃欲试的，决心干出一番事业。很多的眼镜店也应势推出了各种各样的眼镜店加盟模式，这给那些有雄心壮志的创业者提供了一个平台，然而不得不说的是加盟眼镜店可谓是鱼龙混杂，质量和水平也参差不齐，如果不认真仔细分析投资就会有巨大的潜在风险。亿超眼镜特意整理一份加盟参考指标对比图，希望给准备来眼镜行业创业的朋友作个参考：投资还须谨慎，冷静分析利弊！ </p>
<span class="joinNames">品牌对比</span>
<div class="brandContrast">
	<table class="tbl" cellpadding="0" cellspacing="0">
	  <thead>
		   <tr>
		   <td class="compare_name">&nbsp;</td>
				<td class="compare_yichaojm">亿超眼镜</td>
				<td class="compare_ctppjm">传统品牌加盟</td>
				<td>普通加盟</td>
			 </tr>
		</thead>
		<tbody>
			<tr>
				<td>用户人群</td>
				<td class="yc">18-35岁青年</td>
				<td>30-60岁</td>
				<td>无固定人群</td>
			</tr>
			<tr>
				<td>地域影响</td>
				<td class="yc">全国(网络+实体)</td>
				<td>局限一个省</td>
				<td>无品牌</td>
			</tr>
			<tr>
				<td>品牌成长</td>
				<td class="yc">朝阳发展</td>
				<td>没落品牌</td>
				<td>无品牌</td>
			</tr>
			<tr>
				<td>正宗与否</td>
				<td class="yc">正宗创始</td>
				<td>待辨别</td>
				<td>无品牌</td>
			</tr>
		</tbody>
	</table>
</div>
<span class="joinNames">客源对比</span>
<div class="contrastSource"></div>
<div class="trafficSources">
  <div class="right">
    <p class="compare_title"> 流量来源</p>
    <p class="compare_title">多元化时代</p>
  </div>
  <div class="compart_content">随着互联网的盛行，购物和浏览习惯的改变，流量已经碎片化，靠原先的那种单一引流是行不通的。</div>
  </div>
 <span class="joinNames">实体店经验</span>
 <div class="joinContainer">
 	<table class="tbl" cellpadding="0" cellspacing="0">
	<thead>
	<tr>
		<td class="compare_name">&nbsp;</td>
		<td class="compare_yichaojm">亿超眼镜</td>
		<td class="compare_ctppjm">传统品牌加盟</td>
		<td>普通加盟</td>
		</tr>
		</thead>
	<tbody>
		<tr>
				<td>官网</td>
				<td class="yc">有</td>
				<td>无</td>
				<td>无</td>
		</tr>
		<tr>
			<td>天猫店</td>
			<td class="yc">有</td>
			<td>绝大部分没有</td>
			<td>无</td>
		</tr>
		<tr>
			<td>京东店</td>
			<td class="yc">有</td>
			<td>绝大部分没有</td>
			<td>无</td>
		</tr>
		<tr>
			<td>当当店</td>
			<td class="yc">有</td>
			<td>无</td>
			<td>无</td>
		</tr>
		<tr>
			<td>苏宁店</td>
			<td class="yc">有</td>
			<td>无</td>
			<td>无</td>
		</tr>
		<tr>
			<td>一号店</td>
			<td class="yc">有</td>
			<td>无</td>
			<td>无</td>
		</tr>
		<tr>
			<td>亚马逊店</td>
			<td class="yc">有</td>
			<td>无</td>
			<td>无</td>
		</tr>
		<tr>
			<td>大众点评</td>
			<td class="yc">有</td>
			<td>有</td>
			<td>无</td>
		</tr>
		<tr>
			<td>美团</td>
			<td class="yc">有</td>
			<td>有</td>
			<td>无</td>
		</tr>
		<tr>
			<td>微信</td>
			<td class="yc">有</td>
			<td>有</td>
			<td>无</td>
		</tr>
		<tr>
			<td>微博</td>
			<td class="yc">有</td>
			<td>有</td>
			<td>无</td>
		</tr>
		<tr>
			<td>百度等搜索</td>
			<td class="yc">有</td>
			<td>无</td>
			<td>有</td>
		</tr>
		<tr>
			<td>本地论坛</td>
			<td class="yc">有</td>
			<td>无</td>
			<td>无</td>
		</tr>
		<tr>
			<td>传统媒体</td>
			<td class="yc">有</td>
			<td>有</td>
			<td>无</td>
		</tr>
		<tr>
			<td>线下营销</td>
			<td class="yc">有</td>
			<td>有</td>
			<td>有</td>
		</tr>
	</tbody>
</table>
 </div>
 <span class="joinNames">实体店经验</span>
 <div class="joinContainer">
<table class="tbl" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<td class="compare_name">&nbsp;</td>
				<td class="compare_yichaojm">亿超眼镜</td>
				<td class="compare_ctppjm">传统品牌加盟</td>
				<td>普通加盟</td>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>直营店</td>
			<td class="yc">跨省经营经验</td>
			<td>有直营店，丰富的经营经验</td>
			<td>无直营店，无经营经验</td>
		</tr>
		<tr>
			<td>加盟店</td>
			<td class="yc">管理经验</td>
			<td>有加盟店，有管理经验</td>
			<td>有加盟店，无管理经验</td>
		</tr>
	</tbody>
  </table>
 </div>
 <p class="joinImgs"><img src="/images/jmdb03.jpg" alt=""></p>
 <span class="joinNames">实体店经验</span>
 <div class="joinContainer">
 <table class="tbl" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<td class="compare_name">&nbsp;</td>
			<td class="compare_yichaojm">亿超眼镜</td>
			<td class="compare_ctppjm">传统品牌加盟</td>
			<td>普通加盟</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>投资费用</td>
			<td class="yc">35万左右</td>
			<td>投资120万左右</td>
			<td>无标准</td>
		</tr>
		<tr>
			<td>面积</td>
			<td class="yc">50-70平方<br>专注配镜主页，实用省钱。</td>
			<td>120-200平方左右<br>啥都有，为了副业浪费面积和金钱。</td>
			<td>无标准</td>
		</tr>
		<tr>
			<td>租金</td>
			<td class="yc">10万左右</td>
			<td>30-50万左右</td>
			<td>无标准</td>
		</tr>
		<tr>
			<td>产品</td>
			<td class="yc">7万左右</td>
			<td>25万左右</td>
			<td>5-10万</td>
		</tr>
		<tr>
			<td>产品数量</td>
			<td class="yc">500副左右</td>
			<td>1200-2000副左右</td>
			<td>无标准</td>
		</tr>
		<tr>
			<td>设备</td>
			<td class="yc">高级专业设备，8万左右</td>
			<td>高级专业设备，8万左右</td>
			<td>市场上的低端设备，2万左右</td>
		</tr>
		<tr>
			<td>装修</td>
			<td class="yc">精致装修，7万左右</td>
			<td>豪华装修20-30万</td>
			<td>无标准</td>
		</tr>
		<tr>
			<td>人员</td>
			<td class="yc">2人，节省人力</td>
			<td>6人，浪费人力</td>
			<td>无标准</td>
		</tr>
	</tbody>
 </table>
 </div>
<span class="joinNames">产品</span>
<div class="joinContainer">
<table class="tbl" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<td class="compare_name">&nbsp;</td>
			<td class="compare_yichaojm">亿超眼镜</td>
			<td class="compare_ctppjm">传统品牌加盟</td>
			<td>普通加盟</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>产品售价</td>
			<td class="yc">299,399,599元<br>送1.6非球面品牌镜片</td>
			<td>根据自身定位，价格偏高</td>
			<td>镜架与镜片拆开，价格偏低</td>
		</tr>
		<tr>
			<td>产品成本</td>
			<td class="yc">自有品牌为主(厂家直供)<br>成本优势明显</td>
			<td>社会品牌为主(中间环节多)<br>层层加价。</td>
			<td>无品牌市场货(中间环节多) 层层加价。</td>
		</tr>
		<tr>
			<td>产品规模成本</td>
			<td class="yc">网络+实体店爆款，降低成本</td>
			<td>小批量</td>
			<td>无规模</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4">
			亿超不打价格战，只提供同档次最具有性价比的产品给顾客，好产品才能赢得市场。亿超是首家网络加实体店取得成功的企业，打造大销量爆款产品，采取厂家直供，规模采购，挤压中间环节。降低产品成本。采用“亿超”自由品牌经营，有效防止价格战。
			</td>
		</tr>
	</tfoot>
</table>
</div>
<span class="joinNames">服务支持</span>
<div class="joinContainer">
<table class="tbl" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<td class="compare_name">&nbsp;</td>
			<td class="compare_yichaojm">亿超眼镜</td>
			<td class="compare_ctppjm">传统品牌加盟</td>
			<td>普通加盟</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>品牌</td>
			<td class="yc">全国品牌</td>
			<td>地域品牌</td>
			<td>无</td>
		</tr>
		<tr>
			<td>眼镜店技术培训</td>
			<td class="yc">8大体系，83项技能培训</td>
			<td>有</td>
			<td>无</td>
		</tr>
		<tr>
			<td>网络营销培训</td>
			<td class="yc">7大模块，108个营销指导</td>
			<td>无</td>
			<td>无</td>
		</tr>
		<tr>
			<td>本地用户推荐</td>
			<td class="yc">推荐</td>
			<td>推荐</td>
			<td>无</td>
		</tr>
		<tr>
			<td>规模效应</td>
			<td class="yc">有</td>
			<td>有</td>
			<td>无</td>
		</tr>
		<tr>
			<td>区域保护</td>
			<td class="yc">唯一加盟商</td>
			<td>部分有</td>
			<td>无</td>
		</tr>
		<tr>
			<td>统一形象</td>
			<td class="yc">有</td>
			<td>有</td>
			<td>无</td>
		</tr>
		<tr>
			<td>统一装修</td>
			<td class="yc">有</td>
			<td>有</td>
			<td>无</td>
		</tr>
		<tr>
			<td>统一价格</td>
			<td class="yc">线上线下统一售价</td>
			<td>无</td>
			<td>无</td>
		</tr>
	</tbody>
 </table>
</div>
<span class="joinNames">服务支持</span>
<div class="joinContainer">
<table class="tbl" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<td style="widht:210px;">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>亿超愿景</td>
			<td>引领眼镜行业变革与发展！</td>
		</tr>
		<tr>
			<td>亿超品牌</td>
			<td><img src="/images/jmdb04.jpg" alt=""></td>
		</tr>
		<tr>
			<td>亿超品类</td>
			<td>亿超眼镜，专注配镜。</td>
		</tr>
		<tr>
			<td>亿超口号</td>
			<td>配眼镜、找亿超。同样眼镜省一半！</td>
		</tr>
		<tr>
			<td>亿超服务</td>
			<td>将心比心</td>
		</tr>
		<tr>
			<td>亿超期盼</td>
			<td>我们不是赤裸裸卖眼镜，我们是提供光明的使者。</td>
		</tr>
		<tr>
			<td>亿超建议</td>
			<td>眼镜最佳保质期是一年，切莫过期使用。</td>
		</tr>
		<tr>
			<td>亿超呼吁</td>
			<td>努力把眼镜价格合理回归，让天下人都戴的起优质眼镜。</td>
		</tr>
	</tbody>
</table>
</div>
<span class="joinNames">联系方式</span>
<div class="lxfs">
	<div class="info">
		<ul>
			<li>
				<p>联系人：付小姐</p>
				<p>手机：13958056394</p>
				<p>QQ：2652220442</p>
			</li>
			<li>
				<p>&nbsp;</p>
				<p>电话：0571-87983211</p>
				<p>邮箱：yczs@yichao.cn</p>
			</li>
			<li class="wx">
			<img src="/images/inshop12.jpg" alt="">
			</li>
		</ul>
	</div>
</div>
</section>