<h3 class="wenTitles"><%= Title %></h3>
<div class="wenText">
    <%== Content %>
</div>
<div class="wenpage">
    <% if(UpArticleID){ %>
    <p><em class="fl">上一篇：</em><a href="#ac=article.info&ArticleID=<%= UpArticleID %>" class="fl"><%= UpTitle %></a></p>
    <% }else{ %>
    <p><em class="fl">上一篇：</em><a href="javascript:">无</a></p>
    <% } %>
    <% if(NextArticleID){ %>
    <p><em class="fl">下一篇：</em><a href="#ac=article.info&ArticleID=<%= NextArticleID %>" class="fl"><%= NextTitle %></a></p>
    <% }else{ %>
    <p><em class="fl">下一篇：</em><a href="javascript:">无</a></p>
    <% } %>
</div>
