<div class="zhiBox">
	<ul class="zhilist">
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
	</ul>
</div>
