<style>
	body{background: #f4f4f4;}
</style>
<nav>
	<div class="navBar">
		<a href="javascript:;" class="backGo"><</a>
		<span class="txt">亿超动态</span>
		<a href="javascript:;" class="home"></a>
	</div>
</nav>
<div class="zhiBox">
	<ul class="zhilist">
		<li><a href="">配镜知识</a></li>
		<li><a href="">配镜知识</a></li>
		<li><a href="">配镜知识</a></li>
		<li><a href="">配镜知识</a></li>
		<li><a href="">配镜知识</a></li>
		<li><a href="">配镜知识</a></li>
		<li><a href="">配镜知识</a></li>
		<li><a href="">配镜知识</a></li>
	</ul>
</div>