<nav>
	<div class="navBar">
		<a href="javascript:;" class="backGo"><</a>
		<span class="txt">眼镜知识</span>
		<a href="javascript:;" class="home"></a>
	</div>
</nav>
<div class="zhiBox">
	<ul class="zhilist">
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
		<li><a href=""><label for="" class="fl">配镜知识</label><span class="fr">></span></a></li>
	</ul>
</div>
