<div class="banners">
  <div class="indexScroll slider" id="jSlider">
    <ul class="slider-pic js-slider-img-wrap">
      <li><a title="大将军新服" href="#"><img src="images/1.jpg" alt=""></a></li>
      <li><a title="铁血大宋新服" href="#"><img src="images/2.jpg" alt=""></a></li>
      <li><a title="惊天战神新服" href="#"><img src="images/3.jpg" alt=""></a></li>
      <li><a title="梦幻之城新服" href="#"><img src="images/4.jpg" alt=""></a></li>
    </ul>
    <ul class="slider-num js-slider-num-wrap">
      <li class="cur">1</li>
      <li class="">2</li>
      <li class="">3</li>
      <li class="">4</li>
    </ul>
  </div>
</div>
<div class="proIndexBox">
  <ul class="indexOrderList">
    <li><a href="#ac=goods.sort">
      <em class="indImgIcn ic_1"></em>
      <p class="txt">全部商品</p>
    </a></li>
    <li><a href="#ac=search.index">
      <em class="indImgIcn ic_2"></em>
      <p class="txt">搜索</p>
    </a></li>
    <li><a href="javascript:;">
      <em class="indImgIcn ic_3"></em>
      <p class="txt">特惠</p>
    </a></li>
    <li><a href="#ac=article.listmore">
      <em class="indImgIcn ic_4"></em>
      <p class="txt">眼镜知识</p>
    </a></li>
    <li><a href="#ac=entity.list">
      <em class="indImgIcn ic_5"></em>
      <p class="txt">实体店</p>
    </a></li>
    <li><a href="javascript:;">
      <em class="indImgIcn ic_6"></em>
      <p class="txt">加盟</p>
    </a></li>
  </ul>
  <section>
    <h3 class="in_jingkuang">
      <em>框架配镜</em>
      <button type="button" class="noteBtn">网络与实体店何价格统一</button>
      <a href="#ac=goods.product_list&GoodsTypeID=101">></a>
    </h3>
    <div id="proWapper_1">

    </div>
    <h3 class="in_jingkuang">
      <em>隐形美瞳</em>
      <a href="#ac=goods.product_list&GoodsTypeID=102">></a>
    </h3>
    <div id="proWapper_2">

    </div>
  </section>
</div>
<div class="qqAndW">
   <span class="qq">
      <a href="http://wpa.qq.com/msgrd?v=3&uin=800015239&site=qq&menu=yes">
        <em class="icons"></em>
        <p class="txt">QQ咨询客服</p>
      </a>
   </span><span class="ww">
      <a href="http://amos.alicdn.com/msg.aw?v=2&uid=martin7752&site=cnalichn&s=11&charset=UTF-8">
        <em class="icons"></em>
        <p class="txt">旺旺咨询客服</p>
      </a>
   </span>
</div>
<p class="kehuPh"><a href="tel:4006752788" link="tel:4006752788">亿超眼镜客服电话：400 6752 788</a></p>