<style type="text/css">
  dl{margin: 10px;}
  dt{height: 40px; line-height: 40px; background: #ffc000; padding: 0 10px; font-size: 14px; color: #ffffff; font-weight: bold;}
  dd{padding: 0 10px 20px; overflow: hidden;}
  dd a{float: left; margin: 20px 5px 0 0;}
</style>
<div id="map-page">
  <dl>
    <dt>顾客（user）</dt>
    <dd>
      <a href="#ac=user.login">登录</a>
      <a href="#ac=user.register">注册</a>
      <a href="#ac=user.addAddress">新增收货地址</a>
      <a href="#ac=user.address">收货地址</a>
      <a href="#ac=user.city">城市</a>
      <a href="#ac=user.myorder">我的订单</a>
      <a href="#ac=user.myorder_info">订单详情</a>
      <a href="#ac=user.ordermess">填写订单</a>
      <a href="#ac=user.ordersuccess">订单提交成功</a>
      <a href="#ac=user.service">咨询客服</a>
      <a href="#ac=user.shoppingcart">购物车</a>
    </dd>
    <dt>商品（goods）</dt>
    <dd>
      <a href="#ac=goods.index">首页</a>
      <a href="#ac=goods.brand">品牌</a>
      <a href="#ac=goods.comments">评论</a>
      <a href="#ac=goods.groupbuy">团购列表</a>
      <a href="#ac=goods.groupbuy_info">团购套餐</a>
      <a href="#ac=goods.moreselect">选择更多</a>
      <a href="#ac=goods.product_list">商品列表</a>
      <a href="#ac=goods.product_info">商品详情</a>
      <a href="#ac=goods.sort">分类</a>
    </dd>
    <dt>文章（article）</dt>
    <dd>
      <a href="#ac=article.list">文章列表</a>
      <a href="#ac=article.info">详情</a>
      <a href="#ac=article.listmore">眼镜知识</a>
    </dd>
    <dt>搜索（search）</dt>
    <dd>
      <a href="#ac=search.search">搜索输入页</a>
      <a href="#ac=search.searchlist">搜索结果列表</a>
    </dd>
    <dt>实体店（entity）</dt>
    <dd>
      <a href="#ac=entity.entity">具体实体店</a>
      <a href="#ac=entity.entity_list">实体店列表</a>
    </dd>
  </dl>
</div>