<footer>
    <div  id="footer">
        <div class="footerNav">
            <ul class="footerNavList">
                <li><a href="#ac=user.login">登陆</a></li>
                <li><a href="#ac=user.register">注册</a></li>
                <li><a href="#ac=user.service">联系客户</a></li>
                <li class="backTop"><button type="button" class="buttonGray" id="backTop">返回顶部</button></li>
            </ul>
        </div>
        <div class="footerTxt">Copyright ©2014 浙B2-20110007</div>
    </div>
</footer>