<header id="header">
    <ul class="topNav">
        <li class="item1"><a href=""  class="logoImg"></a></li>
        <li class="item2">
            <a href="javascript:" class="goods" id="goodsTypeView"><em class="icn_top"></em><p class="txt">商品</p></a>
            <a href="#ac=user.shoppingcart" class="shoptCart"><em class="icn_top"></em><p class="txt">购物车</p></a>
            <a href="#ac=user.myorder" class="orders"><em class="icn_top"></em><p class="txt">订单</p></a>
        </li>
    </ul>
    <div id="goodsTypeListWrap" class="popBox">
      <ul id="goodsTypeList">

      </ul>
    </div>
</header>