<% if(list.length > 0){ %>
<ul class="brandList">
  <% for(var i = 0; i < list.length; i++){ %>
  <li>
    <a href="#ac=goods.product_list&BrandID=<%= list[i].BrandID %>">
      <span class="brandImg"><img src="<%= list[i].ListImg %>" alt=""></span><span class="brandName">
        <p><img src="<%= list[i].Logo %>" alt=""></p>
        <p class="bdName"><%= list[i].BrandName %></p>
        <p class="dbTxt"><%= list[i].Alias %></p>
        <p><%= list[i].GoodsTypeID %></p>
      </span>
    </a>
  </li>
  <% } %>
</ul>
<div class="pagesOn">
  <%== displayPageBtn('#ac=goods.brand', pageIndex, total, pageSize) %>
</div>
<% }else{ %>
<div class="no-data">
  <p>暂无数据</p>
</div>
<% } %>