<% if(list.length > 0){ %>
<ul class="brandList">
  <% for(var i = 0; i < list.length; i++){ %>
  <li>
    <a href="">
      <span class="brandImg"><img src="../images/img05.png" alt=""></span><span class="brandName">
        <p><img src="../images/img06.png" alt=""></p>
        <p class="brandName">宝姿 PORTS</p>
        <p>世界灵魂，都市神韵</p>
        <p>眼镜框</p>
      </span>
    </a>
  </li>
  <% } %>
</ul>
<div class="pagesOn">
  <%== displayPageBtn('#ac=goods.brand', pageIndex, total, pageSize) %>
</div>
<% }else{ %>
<div class="no-data">
  <p>暂无数据</p>
</div>
<% } %>