<% if(list.length > 0){ %>
<ul class="proList">
  <% for(var i = 0; i < list.length; i++){ %>
  <li>
    <span class="proImg">
      <a href="#ac=goods.product_info&GoodsID=<%= list[i].GoodsID %>"><img src="<%= list[i].SmallImage %>" alt="<%= list[i].GoodsName %>"></a>
    </span>
    <p class="proName">
      <a href="#ac=goods.product_info&GoodsID=<%= list[i].GoodsID %>"><%= list[i].GoodsName %></a>
    </p>
    <p><em class="red">￥<%= list[i].MarketPrice %></em><% if(list[i].Model){ %>（<%= list[i].Model %>）<% } %></p>
  </li>
  <% } %>
</ul>
<% if(showPaging){ %>
<div class="pagesOn">
  <%== displayPageBtn('#ac=goods.product_list&GoodsTypeID=' + goodsTypeId + '&PropertyID=' + PropertyID + '&ValueID=' + ValueID, pageIndex, total, pageSize) %>
</div>
<% } %>
<% }else{ %>
<div class="no-data">
  <p>暂无数据</p>
</div>
<% } %>