<% if(list.length > 0){ %>
<ul class="groupPro">
    <% for(var i = 0; i < list.length; i++){ %>
    <li>
        <div class="groupImg">
            <span class="imgs"><img src="<%= list[i].imgsrc %>" alt=""></span>
            <p class="gtexts"><%= list[i].SetName %></p>
        </div>
        <div class="groupPrice">
            <em>套餐价：￥<%= list[i].Price %></em>
            <em>原价：￥<i><%= list[i].PriceOriginal %></i></em>
            <a href="#ac=goods.groupbuy_info&PromotionID=<%= list[i].PromotionID %>">查看详情</a>
        </div>
    </li>
    <% } %>
</ul>
<% if(showPaging){ %>
<div class="pagesOn">
    <%== displayPageBtn('#ac=goods.groupbuy&GoodsTypeID=' + GoodsTypeID + '&SetName=' + SetName, pageIndex, total, pageSize) %>
</div>
<% } %>
<% }else{ %>
<div class="no-data">
    <p>暂无数据</p>
</div>
<% } %>