<style>
	body{background: #000000;}
</style>
<nav>
	<div class="navBar">
		<a href="javascript:;" class="backGo"><</a>
		<span class="txt">品牌</span>
		<a href="javascript:;" class="home"></a>
	</div>
</nav>
<section class="brandBox">
	<ul class="brandList">
		<li><a href=""><span class="brandImg"><img src="../images/img05.png" alt=""></span><span class="brandName">
			<p><img src="../images/img06.png" alt=""></p>
			<p class="brandName">宝姿 PORTS</p>
			<p>世界灵魂，都市神韵</p>
			<p>眼镜框</p>
		</span></a></li>
		<li><a href=""><span class="brandImg"><img src="../images/img05.png" alt=""></span><span class="brandName">
			<p><img src="../images/img06.png" alt=""></p>
			<p class="brandName">宝姿 PORTS</p>
			<p>世界灵魂，都市神韵</p>
			<p>眼镜框</p>
		</span></a></li>
		<li><a href=""><span class="brandImg"><img src="../images/img05.png" alt=""></span><span class="brandName">
			<p><img src="../images/img06.png" alt=""></p>
			<p class="brandName">宝姿 PORTS</p>
			<p>世界灵魂，都市神韵</p>
			<p>眼镜框</p>
		</span></a></li>
		<li><a href=""><span class="brandImg"><img src="../images/img05.png" alt=""></span><span class="brandName">
			<p><img src="../images/img06.png" alt=""></p>
			<p class="brandName">宝姿 PORTS</p>
			<p>世界灵魂，都市神韵</p>
			<p>眼镜框</p>
		</span></a></li>
		<li><a href=""><span class="brandImg"><img src="../images/img05.png" alt=""></span><span class="brandName">
			<p><img src="../images/img06.png" alt=""></p>
			<p class="brandName">宝姿 PORTS</p>
			<p>世界灵魂，都市神韵</p>
			<p>眼镜框</p>
		</span></a></li>
		<li><a href=""><span class="brandImg"><img src="../images/img05.png" alt=""></span><span class="brandName">
			<p><img src="../images/img06.png" alt=""></p>
			<p class="brandName">宝姿 PORTS</p>
			<p>世界灵魂，都市神韵</p>
			<p>眼镜框</p>
		</span></a></li>
		<li><a href=""><span class="brandImg"><img src="../images/img05.png" alt=""></span><span class="brandName">
			<p><img src="../images/img06.png" alt=""></p>
			<p class="brandName">宝姿 PORTS</p>
			<p>世界灵魂，都市神韵</p>
			<p>眼镜框</p>
		</span></a></li>
		<li><a href=""><span class="brandImg"><img src="../images/img05.png" alt=""></span><span class="brandName">
			<p><img src="../images/img06.png" alt=""></p>
			<p class="brandName">宝姿 PORTS</p>
			<p>世界灵魂，都市神韵</p>
			<p>眼镜框</p>
		</span></a></li>
	</ul>
</section>

