<section id="groupInfo" class="groupBox">
	<ul class="groupInfo">
		<li>
			<span class="imgFl"><a href="javascript:;"><img src="../images/img08.png" alt=""></a></span>
			<div class="groupCont">
				<h4 class="grupTitle"><a href="javascript:;">强生 舒日日抛30片 近视隐形眼镜
 天天抛 持久水润舒</a></h4>
				<p class="gprice">￥153.00</p>
				<p class="groupStl"><a href="javascript:;">绿色</a><a href="javascript:;">白色</a></p>
				<p class="gpStlL"><select name="" id=""><option value="选择">选择</option></select></p>
			</div>
		</li>
	</ul>
	<div class="groupInfoBuy">
				套餐价：￥180.00  原价：<em>200.00</em><br/>
				<button class="buttonRed" type="button">加入购物车</button>

			</div>
</section>
