<div class="banners">
  <div class="indexScroll slider" id="jSlider">
    <ul class="slider-pic js-slider-img-wrap">
      <li><a title="大将军新服" href="#"><img src="images/1.jpg" alt=""></a></li>
      <li><a title="铁血大宋新服" href="#"><img src="images/2.jpg" alt=""></a></li>
      <li><a title="惊天战神新服" href="#"><img src="images/3.jpg" alt=""></a></li>
      <li><a title="梦幻之城新服" href="#"><img src="images/4.jpg" alt=""></a></li>
    </ul>
    <ul class="slider-num js-slider-num-wrap">
      <li class="cur">1</li>
      <li class="">2</li>
      <li class="">3</li>
      <li class="">4</li>
    </ul>
  </div>
</div>
<div class="proInfoBox" id="proInfoBox">

</div>
<div class="qqAndW">
   <span class="qq">
      <a href="javascript:;">
         <em class="icons"></em>
        <p class="txt">QQ咨询客服</p>
      </a>
   </span><span class="ww">
      <a href="javascript:;">
         <em class="icons"></em>
      <p class="txt">旺旺咨询客服</p>
      </a>
   </span></div>
<p class="kehuPh">亿超眼镜客服电话：400 675 2788</p>
<div class="imgContent">
  <img src="../images/img02.png" alt="">
  <img src="../images/img02.png" alt="">
</div>
<div class="proDetails"><em class="dian"></em>产品细节 | Details</div>
<div class="imgContent">
  <img src="../images/img02.png" alt="">
  <img src="../images/img02.png" alt="">
</div>
