<div class="banners">
  <div class="indexScroll slider" id="jSlider">

  </div>
</div>
<div class="proInfoBox" id="proInfoBox">

</div>
<section id="comments">
    <h3 class="commontsTitles">产品评价（<span id="CommentTimes"></span>）<em class="ec1">></em></h3>
    <div id="commentsWrap">

    </div>
</section>
<div class="qqAndW">
   <span class="qq">
      <a href="javascript:;">
         <em class="icons"></em>
        <p class="txt">QQ咨询客服</p>
      </a>
   </span><span class="ww">
      <a href="javascript:;">
         <em class="icons"></em>
      <p class="txt">旺旺咨询客服</p>
      </a>
   </span></div>
<p class="kehuPh">亿超眼镜客服电话：400 675 2788</p>
<div class="imgContent">
  <img src="../images/img02.png" alt="">
  <img src="../images/img02.png" alt="">
</div>
<div class="proDetails"><em class="dian"></em>产品细节 | Details</div>
<div class="imgContent">
  <img src="../images/img02.png" alt="">
  <img src="../images/img02.png" alt="">
</div>
